[2018-05-16 01:00] Gabriel439 commented on #362
The last time I checked, the number one thing that will improve performance is fixing the parser to use `attoparsec` to lex the input.  See: #108

Normalizing something shouldn't change its type (it's one of the four soundness rules for Dhall), so that latter issue sounds like a bug

[2018-05-16 01:05] Gabriel439 commented on #362
@sellout: Also, if you are going to make more changes to the import system, I highly recommend reading the standardized semantics for imports here:

https://github.com/dhall-lang/dhall-lang/blob/master/standard/semantics.md#import-resolution

That's where the import system is going and it's simpler than the current implementation

[2018-05-16 03:17] sellout commented on #362
If parsing were the (only) problem, I would have expected cutting the imports in half to have had a significant impact on my runtime. Also, I just benchmarked, and I seem to have pretty different hotspots:
[code]
The stuff we’re doing with it seems to be more at the programming edge of Dhall than is common, so I don’t really expect others to be seeing numbers like these, but it’s pretty common for

[2018-05-16 05:43] sellout opened #391 "alpha normalization bug"
The following expression fails to normalize:
[code]
It _seems_ to be because in the handlers for `merge`, `Bar` introduces a new `a` and `Baz` uses the `a` from the surrounding function. If I change either handler (e.g., `Bar = f` or `Bar = λ(z : {}) → f z`), it normalizes fine.

I first mentioned this in #362, but this includes a minimal example. For some reason, I only ran into this before when

[2018-05-16 08:58] FintanH commented on #391
So I played around with this. The issue seems to actually be the scoping of `λ(a : {})`

The following _does_ normalize:
[code]

[2018-05-16 14:04] sellout commented on #391
Oh! I _think_, judging by this type diff,
[code]
… are those numbers the De Bruijn indices? And it’s actually expecting them to be the same, rather than referring to the same variable. So, since the first case introduces a new `a`, the outer `a` has index 1, and in the second case, the outer `a` is the only one, so it has index 0. So the alpha conversion is correct, but equality checker for types

[2018-05-16 14:13] sellout commented on #391
As an aside, I think it would be nice if De Bruijned vars printed in a way that made it a bit clearer what they are. I thought the output was buggy as a result of the bug – I didn’t interpret it as De Bruijns at all.

Like, if it’s possible to not rename vars to `_`, maybe it could look like
[code]
(which I stole from your own style – I appreciate the Unicode alternative to primes!)

[2018-05-16 14:13] FintanH commented on #391
Ya I think you're right. It seems more obvious in the error message that I see with version `1.11.1` now that you mention it:

[code]

[2018-05-16 14:32] sellout commented on #391
So, I used that to shrink it a bit further:
[code]
but some interesting changes … if I change the last line so that both branches have the same variable (and supposedly the same De Bruijn indices)
[code]
I get a different error
[code]
and if I change the parameter name for `Baz`,
[code]
I’m back to the original error (as I’d expect).

But I’m really surprised the case where they both use the same

[2018-05-16 14:37] Gabriel439 commented on #391
This is actually due to the type-checking judgment for `merge` and the Haskell.  Actually, according to the specification your code should be rejected:

[code]

The key part is the `x not free in T₀` bit

I actually don't remember why that restriction was necessary (I'm still in the process of reverse engineering the rationale) and I'm not even sure the specification is correct.

[2018-05-16 14:38] Gabriel439 commented on #391
Also, even if the specification were correct (which is still not certain), the Haskell implementation is not fastidiously following that part (otherwise you'd be getting a better error message)

[2018-05-16 14:44] sellout commented on #391
Ok, I’ll have to dig into this later today, but I have a feeling that the reason it wasn’t rejected before minimization is because these variables existed in different files, and it was only by introducing the intermediate `normalization` step that that expectation broke.

But I am totally speculating now. The original case involved at least a dozen different files.

[2018-05-16 14:51] Gabriel439 commented on #391
I'm pretty sure that fixing the type-checking judgment for `merge` will fix your original larger example.  The reason why is that the specification for `merge` is not respecting α-equivalence of types and normalization can rename variables at the type-level to an α-equivalent type.

[2018-05-16 15:39] Gabriel439 commented on #391
Alright, I have a dirty branch which I believe is probably the correct fix, but I still need to reason through it more carefully.  Try this:

https://github.com/dhall-lang/dhall-haskell/compare/gabriel/issue_391

[2018-05-16 21:39] sellout commented on #391
Yep – the original and the minimal case both work now. And the “Unbound variable” error mentioned in https://github.com/dhall-lang/dhall-haskell/issues/391#issuecomment-389540683 is also gone.

💯

[2018-05-17 00:50] Gabriel439 commented on #362
I also think it's worth mentioning:

https://github.com/dhall-lang/dhall-lang/issues/129

I expect that feature once standardized to lead to the most dramatic speedups in import speed compared to any other improvement (assuming you protect each import with a semantic integrity check, which can be automated)

[2018-05-17 01:47] sellout commented on #362
Yeah, I think that’ll be great.

At work, we had been talking about having a “build” script to pre-normalize all our files. However, dhall-lang/dhall-lang#129 combined with #392 would give us the same effect without having to manage a build.

[2018-05-17 01:47] Gabriel439 commented on #391
Alright, here is the matching change to the standard:

https://github.com/dhall-lang/dhall-lang/pull/156

[2018-05-17 01:54] Gabriel439 commented on #391
... and here is the pull request for the matching Haskell change:

https://github.com/dhall-lang/dhall-haskell/pull/394

I'll probably wait until the standard is updated (i.e. minimum 3-day review period) before merging the Haskell implementation.  I can delay cutting the 1.14.0 release until then

[2018-05-17 15:57] sellout commented on #391
@aleator There have been three PRs merged that address parts of this issue (although there are still improvements to be had, I think). I’d be interested in hearing if master performs much better for you now.

[2018-05-17 16:03] Gabriel439 commented on #391
Note that there will be one more change to match the standardized import system.  Currently the import system uses a breadth-first import resolution algorithm, but the standard specifies a (much simpler) depth-first import resolution algorithm.  That may or may not improve things, too

[2018-05-19 14:43] #391 closed

[2018-05-20 18:39] quasicomputational opened #397 "dhall-format is a bit weird with big conditionals' indentation"
[This gist](https://gist.github.com/quasicomputational/b4b16130726f82b0fbd1ed6260d44340) has large, four-level deep conditional that's been through dhall-format, and I'm not sure I like what dhall-format has done to it. I guess that the `else` being less indented than the `if` and `then` is to make long chains of else-ifs readable, but it's confusing how the `then` and `else` branches wind up diff

[2018-05-20 21:26] Gabriel439 commented on #397
@quasicomputational: Could you give a sketch of how you would prefer it to be formatted?

[2018-05-21 10:41] quasicomputational commented on #397
I think aligning the `then` with the corresponding `else` works. [Here's a gist with that done manually, and I think it's a lot less confusing.](https://gist.github.com/quasicomputational/2440ade8dc7d12c1ee8dd3731d476d04) Having the `if` indented like that still looks a little weird to me, but I think I could get used to that.

[2018-05-21 17:39] quasicomputational commented on #397
Looks good, thanks!

[2018-05-21 17:43] Gabriel439 commented on #397
You're welcome!

[2018-05-21 17:43] #397 closed

[2018-05-21 18:45] andrewthad opened #399 "Bad docs for Directory"
There is currently a haddock mistake in the docs for `Directory`.

[2018-05-21 18:57] Gabriel439 commented on #399
@andrewthad: Could you expand on that?  I'm not sure what you are referring to

[2018-05-21 18:59] andrewthad commented on #399
In the docs, this is written:

[code]

but haddock interprets the slashes as italics.

[2018-05-21 19:22] andrewthad opened #400 "Values that do not map cleanly to dhall types"
In my configuration files, I often need to store things like IPv4 addresses and MAC addresses. Dhall cannot faithfully represent either of these types (not in a way that isn't extremely verbose). I'm fine with just representing things like this as text, but the dhall library doesn't provide an out-of-the-box solution for marshalling text to a more structured type. Roughly, what I'm missing is some

[2018-05-21 19:33] Gabriel439 commented on #400
I think this overlaps with https://github.com/dhall-lang/dhall-haskell/issues/387

[2018-05-21 19:44] andrewthad commented on #400
Thanks for pointing that out. This is in fact the same issue. I had tried searching through the issue tracker for things like `Word8` and `RGB` that dhall doesn't represent accurately, but I didn't find that issue. I'm closing this in favor of that one.

[2018-05-21 19:44] #400 closed

[2018-05-22 01:16] Gabriel439 commented on #399
Fix up here: https://github.com/dhall-lang/dhall-haskell/pull/401

[2018-05-22 12:53] FintanH opened #402 "Relative Path Error (dhall-1.14)"
**Dhall Version 1.14**

I have a reproducible error here: https://github.com/FintanH/dhall-directory-error

There seems to be an issue with relative imports when running the command line compiler. The reproducible is in the README. But can give a quick overview here.

If I run:
[code]

I get back:
[code]

Where `Dir1` is in the root directory: `dhall-directory-error`, but the resolver thinks it sh

[2018-05-22 20:14] Gabriel439 commented on #402
Fix up here: https://github.com/dhall-lang/dhall-haskell/pull/403

Note that I need to also fix the standard before merging that since this is a specification bug, but you can use that branch for now

[2018-05-22 20:37] FintanH commented on #402
Thanks @Gabriel439 that was quick! 😁

[2018-05-22 20:40] Gabriel439 commented on #402
You're welcome!  Sorry about the bug 😊

[2018-05-22 20:45] FintanH commented on #402
No worries, that's the excitement of working bleeding edge 😉

[2018-05-23 01:36] #399 closed

[2018-05-25 17:03] #402 closed

[2018-05-27 15:16] quasicomputational opened #406 "Odd representation of leading .. in import paths"
To represent an import path like `../foo/bar` using the API, you need to write `Local Parent (File (Directory ["foo"]) "bar")`. But importing `../../foo/bar` needs `Local Parent (File (Directory ["foo", ".."]) "bar")`; the first `..` gets special treatment. And importing `./../../foo/bar`, which is equivalent, could be represented as `Local Here (File (Directory ["foo", "..", ".."]) "bar")`.

I th

[2018-05-27 17:04] Gabriel439 commented on #406
@quasicomputational: Yeah, that seems reasonable.  The only reason the Haskell implementation does it this way is to match the standard as closely as possible, but what you're proposing is semantically equivalent

[2018-05-28 13:12] gromakovsky opened #408 "Add a function to parse a file"
I couldn't find a function which takes a `FilePath` and parses it.
If I have a file which I want to parse I have two options:
1. Read the contents of this file and pass it to `input`. This is bad for the reasons described in https://github.com/dhall-lang/dhall-lang/issues/68. Specifically, if the file is `a/b` and it contains `./c`, Dhall will try to import `$PWD/c`, not `a/c` as I would expect.
2

[2018-05-28 15:58] quasicomputational opened #409 "Only accepting input from stdin makes relative imports awkward"
Because most of Dhall's executables only accept input from stdin, if the top-level Dhall file being interpreted has relative imports, you have to run the command from the input file's directory or else Dhall can't find the relative imports.

This is work-around-able today by setting the directory before running Dhall's programs, but this makes interactive use at the command line quite awkward.

Dh

[2018-05-28 16:24] quasicomputational opened #410 "Still possible to create records of mixed terms and types"
It's still possible to do this, but I think it will break as soon as you try to use it by accessing a field:

[code]

This is because the `Prefer` and `Merge` cases in `Dhall.TypeCheck` do not check to see if their left- and right-hand arguments are compatible. They don't need to check the whole of both, but only need to grab a single value from each and then compare those, and then rely on the in

[2018-05-28 16:29] quasicomputational opened #411 "dhall-repl does not include version information"
`dhall-repl` does not recognise `--version` and, upon startup, it does not output its version number. This makes it difficult to know which version of Dhall you are running, and specifically whether you are on an old version of Dhall; since `dhall-repl` is the most convenient way to demonstrate short Dhall examples, this makes reporting bugs more annoying than it should be.

[2018-05-28 16:46] quasicomputational commented on #409
Oops, further poking around the issue tracker uncovered the `dhall <<< './some/input/file'` method. I learned something new today!

Since I don't seem to be the only one who didn't know that that was possible, I think that that's definitely worth putting in a cookbook somewhere.

[2018-05-28 17:15] quasicomputational opened #412 "Terrible performance when type-checking with a large enum's constructors"
In https://github.com/quasicomputational/dhall-prelude-enum-test, I have a conceptually-small Dhall program: it has two enums, one small and one large (301 constructors), and a prelude for convenient access to the enums' constructors. `main.dhall` then uses that to create a list of values from the smaller enum.With 301 constructors, `constructors BigEnum` has a rough size of ~90,000, which is big

[2018-05-28 17:44] FintanH commented on #108
@Gabriel439 I saw this and thought I'd throw together a `criterion` benchmark suite for the parser in dhall here: https://github.com/FintanH/dhall-haskell/blob/dev/benchmark/benchmark/parser/Main.hs

For the example above I got back:
[code]

If this seems useful, I can make a PR :)

[2018-05-29 05:30] Gabriel439 commented on #108
@FintanH: Yes, please do! Also, thank you :)

[2018-05-29 05:32] Gabriel439 commented on #409
@quasicomputational: I'll keep this open to remind myself to put this in the FAQ section of the Dhall wiki

[2018-05-29 05:33] Gabriel439 commented on #410
Yeah, that seems like a bug to me.  I need to check to see if it's a bug in the specification or the Haskell implementation

[2018-05-29 15:56] Gabriel439 commented on #412
@quasicomputational: If you can ensure that every variable inserted into a `Context` has already been type-checked then you can eliminate the type-check upon variable lookup (i.e. delete this line: https://github.com/dhall-lang/dhall-haskell/blob/master/src/Dhall/TypeCheck.hs#L105)

[2018-05-29 16:30] Gabriel439 commented on #410
Yeah, this is definitely a bug in the standard like you pointed out.  I will fix the standard

[2018-05-29 18:34] Gabriel439 commented on #408
@gromakovsky: Yeah, this seems reasonable to me.  Do you want to add such a function?  If not, I can add it.

Also, do you intend to use this as an alternative to `Dhall.input` or an alternative to `Dhall.Parser.exprFromText`?

[2018-05-29 18:50] Gabriel439 commented on #409
Alright, there is an FAQ section describing this common issue and work-around here: https://github.com/dhall-lang/dhall-lang/wiki/Frequently-Asked-Questions-(FAQ)#imports-relative-to-my-top-level-file-are-not-working

[2018-05-29 18:50] #409 closed

[2018-05-29 21:09] f-f opened #414 "Unclear parsing error when using an alias as type annotation on empty List"
Afaik empty lists require a type annotation, but it seems to break on aliased types.

Example:

[code]

Evaluating this returns:
[code]

While writing down the type inplace works.
(that is: `([] : List { mapKey : Text, mapValue : Text })`)

Dhall version: `1.11.1`

[2018-05-29 22:12] ocharles commented on #414
You have to do this:

[code]

I believe.

[2018-05-30 07:12] PierreR commented on #414
Isn't the error message a bit confusing in this case ? For a while I could not figure out the relation between the title of the issue and the issue itself ;-)
👍 to add this in the FAQ

[2018-05-30 07:35] quasicomputational commented on #411
Sounds good to me!

[2018-05-30 07:39] quasicomputational commented on #412
Huh. This is weird. Here's the profile after I removed that check:

[code]

That's without the `toList` adjustment, so compare it to the first profile above.

It's an improvement, but not as much of an improvement as I was hoping: I was expecting more like a 33% gain, since 1/3 of the per-use re-typechecks have been eliminated, but that's only about 9%. Maybe something else is going on here and I

[2018-05-30 19:23] FintanH commented on #108
Related: https://github.com/dhall-lang/dhall-haskell/pull/415#issuecomment-393286229

[2018-05-30 19:41] sellout opened #416 "`Data` instance for `Expr Src X`"
At work, many of our `Interpret` instances import Dhall files for the `expected` component of the `Type`, to avoid duplicating the types and ensure that our configs stay in sync with the interpreter.

In order to avoid a runtime dependency on the location of the configs (especially remote URLs), we use TemplateHaskell to resolve all the imports at compile time. However, since there’s no `Data` ins

[2018-05-30 22:12] Gabriel439 commented on #416
Yeah, that's totally fine with me (both adding the `Data` instance and upstreaming any Template-Haskell utilities into the `dhall `package)

[2018-05-31 12:35] f-f commented on #414
Added to the [FAQ](https://github.com/dhall-lang/dhall-lang/wiki/Frequently-Asked-Questions-(FAQ)), closing.

[2018-05-31 12:41] ocharles commented on #414
I don't think the FAQ is sufficient to close this. It's a really understandable mistake to make, and getting a parse error about whitespace is not at all enlightening. You can only resolve the error if you know the grammar. I think the error message needs to be improved and this should be re-opened.

[2018-05-31 12:54] f-f commented on #414
Agreed 👍

[2018-05-31 14:49] Gabriel439 commented on #414
@ocharles @f-f: Note that improving the error message requires a change to the language standard since `: List` is part of the grammar for empty list literals, so this issue might be more appropriate for the `dhall-lang` repository

[2018-05-31 18:41] jneira opened #417 "dhall should not allow fields with the same name in records"
* Actually dhall let you write records with fields sharing the same name:
[code]
* Same for record types:
[code]

[2018-05-31 20:09] ocharles commented on #417
Pretty sure this is a bug, as https://github.com/dhall-lang/dhall-lang/blob/master/standard/semantics.md#records-1 suggests it shouldn't even type check.

[2018-05-31 21:14] Gabriel439 commented on #417
Yep, this is definitely a bug and violation of the spec

[2018-06-01 00:30] FintanH commented on #108
Further follow up, I tried converting the Lazy Text to Strict and this gave us some improvements.

I compared these two branches for benchmarking:
* https://github.com/FintanH/dhall-haskell/tree/fintan/strict-text
* https://github.com/FintanH/dhall-haskell/tree/dev/benchmark

And the results were:
[code]
vs.
[code]

With the `text` hotspot I mentioned in the comment above disappearing.

Also menti

[2018-06-01 07:57] quasicomputational commented on #412
I think I've got it: the `Let` case substitutes in the value of the bound variable directly, rather than going through the `Context`. But that's a pretty massive pessimisation if the value being substituted in is large! This was a deliberate change in #69, but I think we can fix it: if we check if it's a type or a term, we can stuff terms into the `Context` and only do the substitution for types t

[2018-06-01 12:26] michalrus opened #421 "Debugging large expressions"
With a relatively large configuration file, when I mess up types or names (Double instead of Int etc.), I’m getting:

[code]

… but I’m not told exactly *what* I did wrong (just `(input):1:1`).

How can I debug it efficiently?

[2018-06-01 12:39] ocharles commented on #421
What Dhall version are you running? The latest version should show concise type differences.

[2018-06-01 12:54] michalrus commented on #421
@ocharles, 1.8.2, oh, haha, so it’s pretty ancient.

Thank you! =)

[2018-06-01 12:54] #421 closed

[2018-06-01 14:26] jhenahan opened #423 "Extract keys from a config?"
Is it possible (or even meaningful) to extract the keys from a Dhall file?

I'm using Dhall for a system validation tool, and one part of that is a fairly long list of `sysctl` settings. I have a Dhall file which describes the correct settings, and what I'd like to say is "for all the keys defined in the config file, run `sysctl -q <key>` and capture its value", which I then compare against the re

[2018-06-01 14:40] ocharles commented on #423
It's certainly possible, but you'll have to drop down to the parse tree. I suggest parsing the file, resolving imports, type checking, normalizing, and then finding the `RecordLit` in the resulting `Expr`. This `RecordLit` is basically just a map of keys to expressions. I'm assuming by "extract keys from a config" you mean "extract all field names from a record".

[2018-06-01 14:42] jhenahan commented on #423
Yes, that's precisely what I mean. I'll put some work into that and either PR it here or publish a little helper library.

[2018-06-01 14:42] ocharles commented on #423
I think it might be a bit too specific to be added to Dhall, but I'll let
Gabriel weigh in on that.

On Fri, Jun 1, 2018 at 3:42 PM Jack Henahan <notifications@github.com>
wrote:

[2018-06-01 14:43] Gabriel439 commented on #423
Another way to do this is that since you have the record in Haskell, you can use Haskell generic programming support to extract field names.  See an example of how to do this here:

https://stackoverflow.com/a/27818445/1026598

[2018-06-01 15:50] Gabriel439 commented on #423
I also think there is value in something that performs all the steps to get the abstract syntax tree without marshaling it into a Haskell type so I'd accept a pull request for that

[2018-06-01 16:05] sellout commented on #423
I added an `importExprWith` function on my branch for #418, that does this (so the TH fully normalizes rather than just resolves), but I didn’t push it yet. That’s because I wanted to call it from `importWith`, and that got a little messy when dealing with adding the `expected` type annotation for the expression.

I can either get that done on #418, or do it separately.

[2018-06-01 19:54] jhenahan commented on #423
I've explored some of the `Generic` machinery, and I can almost get what I want:

I can take a config that looks like

[code]
consume that to construct a record like

[code]

And then I can construct a `HashMap` like

[code]

This gets me really close, except for three things:

1. It feels pretty scary compared to "decompose the config file".
2. I'll have to do some extra work to get into the nest

[2018-06-01 20:27] sellout commented on #423
@jhenahan I have just this minute pushed `inputExprWith` to #418 (in case you already looked and couldn’t find it).

[2018-06-02 07:02] quasicomputational commented on #412
It seems like there might still be some performance issues lurking, even with #420. Here's the hot part of the profile from running `dhall-to-cabal` on its own `dhall-to-cabal.dhall` file, with a few boring lines removed:

<details>
[code]
</details>

`normalise` is still being called 20 million times! I can't imagine that all of that's necessary. There's still work to be done here, I guess.

[2018-06-02 16:27] Gabriel439 commented on #412
@quasicomputational: I think one clue here is that it's not just any` normalize`, but rather the `normalize` located here:

https://github.com/dhall-lang/dhall-haskell/blob/8bd410f8f5fe0bbef73388a70ea762b3477589aa/src/Dhall/TypeCheck.hs#L482

... which occurs as part of type-checking `RecordLit`s.  Specifically, it's the `normalize` called on the type of the type of each record field to verify whe

[2018-06-02 16:32] Gabriel439 commented on #412
@quasicomputational: Another thing which can have an effect on the constant-factors of the performance is that the current parser emits way too many nested `Noted` constructors (mainly due to how it parses operators).  You can also try changing the `noted` function here to `id` which might clean up the profile:

https://github.com/dhall-lang/dhall-haskell/blob/8bd410f8f5fe0bbef73388a70ea762b347758

[2018-06-02 16:40] Gabriel439 commented on #412
@quasicomputational: Ah, I think I can guess what is the problem.  I think it's because my advice on https://github.com/dhall-lang/dhall-haskell/pull/420 was bad :)

Here is what I think is happening.  In the following expression:

[code]

... when `e` is type-checked the *normalized* right-hand-side of the `let` expression (i.e. `constructors BigEnum`) is added to the context, and normalizing `co

[2018-06-02 20:20] f-f opened #424 "Pretty print types with --explain"
It would be nice to pretty print the types and values when invoking the binary with the `--explain` flag.

The current output is pretty confusing and hard to debug. Example when getting wrong some [dhall-kubernetes](https://github.com/dhall-lang/dhall-kubernetes) type:
<img width="837" alt="image" src="https://user-images.githubusercontent.com/5480361/40880488-a409d29c-66ba-11e8-938b-9254d4617a0c.

[2018-06-03 00:59] KirinDave opened #425 "Dhall-haskell nix build appears to be broken"
I'd expect that if I checked out `master` and typed in `nix-build`, that I would produce the dhall results. However, on multiple builds with both nix-1.11 and nix-2* I get an identical error, suggesting a misconfigured build in the dependencies:

[code]

Since `dhall-text` in nixpkgs-unstable is currently demanding dhall-1.14 and that can't be satisfied, it's difficult to deploy the latest version

[2018-06-03 07:26] quasicomputational commented on #412
Here's a profile of `dhall-to-cabal` with `noted` stubbed out:

[code]

And the benchmark:

[code]

[2018-06-04 10:30] w3rs opened #426 "Expression parser seems to generate many unnecessary nested `Note`s"
[code]

[2018-06-04 18:05] #416 closed

[2018-06-05 02:15] Gabriel439 commented on #426
Fix up here: https://github.com/dhall-lang/dhall-haskell/pull/428

New example output:

[code]

[2018-06-05 02:27] Gabriel439 commented on #425
@KirinDave: Also, regarding the Nixpkgs issue, both `dhall` and `dhall-text` are on Stackage and up-to-date, meaning that the latest version of each package builds with each other and the rest of each package.  That means that the Nixpkgs build failure is probably a Nixpkgs-specific issue

[2018-06-05 03:28] Gabriel439 commented on #424
I have the fix to the first part (pretty-printing expressions) ready here: https://github.com/dhall-lang/dhall-haskell/pull/429

[2018-06-05 03:31] Gabriel439 commented on #423
Like @sellout mentioned, I think this is fixed by the change in #418.  That adds new `Dhall.inputExpr`/`Dhall.inputExprWith` utilities that you can use to read in the raw abstract syntax tree for an expression, and then you can write code that traverses the `Expr` tree to retrieve the keys that you are interested in

[2018-06-05 03:36] Gabriel439 commented on #417
Note that for simplicity I will probably reject duplicates at parse time rather than type-checking time, that way I don't have to change the type of the `Record`/`RecordLit`/`Union`/`UnionLit` constructors.  If that bothers people then I can do the proper fix

[2018-06-05 04:05] Gabriel439 commented on #417
Fix is up here: https://github.com/dhall-lang/dhall-haskell/pull/430

[2018-06-05 11:43] ocharles opened #431 "diff command"
What do you think about teaching `dhall` a `diff` command? Given two Dhall expressions it would resolve/type-check/normalise both, and then print their differences.

[2018-06-05 14:28] Gabriel439 commented on #431
@ocharles: Yeah, the code to support that is already there in the `Dhall.Diff` module, which is what powers type diffs in error messages.  The main thing missing is that the logic to diff values is missing support for diffing lists and strings because that would entail adding new dependencies.

[2018-06-05 14:31] Gabriel439 commented on #424
@f-f: Also, the detailed error messages do include the type diff.  It's just located at the top of the error, like this:

[code]

So I think this issue is done

[2018-06-05 15:35] jhenahan commented on #423
Awesome! I'll have a look at that.

[2018-06-05 15:35] #423 closed

[2018-06-05 17:31] f-f commented on #424
Oh right sorry (I usually run things on `1.11` for CI reasons, as it's the one on stackage stable).

Thanks for the fix!

However, even on latest master the diff for type mismatch in records is not clear, as it doesn't show the current "wrong" type, as it happens instead in your example above.
E.g. let's say I have a record `{ a : Optional Text }`; if I do something like this:

[code]

There at th

[2018-06-05 18:57] Gabriel439 commented on #424
@f-f: I actually have a branch that fixes that which I've been working on so that it fully displays "small" types/values in diffs

[2018-06-07 09:49] #426 closed

[2018-06-07 09:58] #417 closed

[2018-06-07 10:11] Gabriel439 commented on #425
@KirinDave: The `dhall `derivation built by `default.nix` is pinned to a specific version of `nixpkgs` using the trick described here:

https://nixos.wiki/wiki/How_to_fetch_Nixpkgs_with_an_empty_NIX_PATH

See:

https://github.com/dhall-lang/dhall-haskell/blob/master/default.nix#L4-L10

So the revision of Nixpkgs shouldn't be a reason for the different behavior.  That pinned revision also correspon

[2018-06-07 13:02] Gabriel439 opened #436 "Make `dhall-format` and `dhall-hash` subcommands instead of standalone executables"
For command-line consistency, it would be nice for `dhall-format` and `dhall-hash` to become `dhall format` and `dhall hash` (i.e. `format` and `hash` subcommands of the `dhall` executable)

[2018-06-07 13:11] Gabriel439 opened #437 "Add `dhall freeze` subcommand"
It would be nice if users could more easily take advantage of [semantic integrity checks](http://www.haskellforall.com/2017/11/semantic-integrity-checks-are-next.html) by automatically pinning all imports in a file.  For example, if a user had the following file:

[code]

... then they could pipe that through `dhall freeze` to pin the `replicate` import with a semantic integrity check:

[code]

..

[2018-06-08 04:05] Gabriel439 opened #440 "Remove use of the `Buildable` class"
Dhall used to use `Buildable` for rendering expressions and now prefers the `Pretty` class.  We should migrate off of `Buildable` to use `Pretty` exclusively to simplify the code and remove the dependency on `text-format`

[2018-06-08 04:17] Gabriel439 commented on #354
I will go ahead and close this since I believe the question was answered

[2018-06-08 04:17] #354 closed

[2018-06-08 04:19] Gabriel439 commented on #162
I should mention that since this issue was created the `dhall` executable now provides `dhall type` and `dhall normalize` subcommands so that you can completely disable import resolution if you want

[2018-06-08 04:33] #411 closed

[2018-06-08 06:31] ocharles commented on #337
Yep

On Fri, 8 Jun 2018, 6:22 am Gabriel Gonzalez, <notifications@github.com>
wrote:

[2018-06-08 10:41] basile-henry commented on #431
@Gabriel439 I would be interested in tackling this issue. Am I understanding correctly that we would want the output to be something like your [nix-diff](https://github.com/Gabriel439/nix-diff) tool?

[2018-06-08 19:31] foollbar opened #441 "Ambiguous integrity checking with 'using' keyword."
meaning of semantic integrity is clear without 'using' keyword.

Input:

<pre>
https://raw.githubusercontent.com/dhall-lang/Prelude/c79c2bc3c46f129cc5b6d594ce298a381bcae92c/List/replicate sha256:b0e3ec1797b32c80c0bcb7e8254b08c7e9e35e75e6b410c7ac21477ab90167ad
</pre>

Output:

<pre>∀(n : Natural) → ∀(a : Type) → ∀(x : a) → List a

  λ(n : Natural)
→ λ(a : Type)
→ λ(x : a)
→ Natural/fold n (List a)

[2018-06-08 20:06] Gabriel439 commented on #441
Yeah, this looks like this is an ambiguity in the grammar.  According to the grammar, this expression:

[code]

... could be interpreted like this:

[code]

... or like this:

[code]

What you want is the latter interpretation (which I agree should be the default interpretation) but the Haskell implementation is using the former interpretation and there is no workaround for that at the moment sinc

[2018-06-08 20:37] foollbar commented on #441
It looks great to me. for clarity, does changes makes following code valid?<pre>https://raw.githubusercontent.com/dhall-lang/Prelude/c79c2bc3c46f129cc5b6d594ce298a381bcae92c/List/replicate using (./a.dhall sha256:16173e984d35ee3ffd8b6b79167df89480e67d1cd03ea5d0fc93689e4d928e61) sha256:b0e3ec1797b32c80c0bcb7e8254b08c7e9e35e75e6b410c7ac21477ab90167ad</pre>

And I think that modification of the defau

[2018-06-08 20:55] Gabriel439 commented on #441
@foollbar: Yes, that would be valid.

What I think I will probably do is eventually deprecate and remove the version without the parentheses so that there is no ambiguous representation.  Fixing the Haskell implementation to prioritize one interpretation over another wouldn't fix the root problem which is that the grammar is ambiguous and the specification shouldn't rely on implementation-defined

[2018-06-08 21:40] wavewave opened #443 "Too much memory use in compiling Dhall.Parser"
On my laptop with 8GB memory, it took almost 100% memory to compile Dhall library, especially on Dhall.Parser. If we can reduce GHC memory usage by simple module splitting or code reorganization, it's much desirable.

[2018-06-08 21:46] Gabriel439 commented on #443
@wavewave: Yeah, I can do that

Just out of curiosity, what version of GHC are you using to build the `dhall` package?

[2018-06-08 22:03] wavewave commented on #443
I use GHC 8.2.2.

[2018-06-09 07:28] Gabriel439 commented on #441
Proposed change to the grammar here: https://github.com/dhall-lang/dhall-lang/pull/171

[2018-06-09 07:51] basile-henry opened #445 "Beginner friendly hints in error messages for path format"
If I write the following by mistake:

[code]

Instead of:

[code]

The error message's `--explain` section doesn't really guide a user of Dhall in the right direction; they are not using the file path format correctly.

[2018-06-09 10:09] FintanH commented on #431
Should this be closed due to #442?

[2018-06-09 10:10] basile-henry commented on #431
@FintanH There is a second part to this issue, which is to diff list and text values better. I am working on that and will open a second PR as soon as I have something that works! :smile:

[2018-06-09 10:13] FintanH commented on #443
Fwiw: This occurred once we clamped to `2f3934ddd3bbffa5da778ef106680d9f122a16a2` updating from `4a085aa3d622886cf7dd96a1ad475ba914d5ab1f`.

[2018-06-09 10:15] FintanH commented on #431
Ah sorry, I missed that!

[2018-06-09 11:09] bergmark commented on #440
@Gabriel439 c87e5d9 removed text-format. I guess the intention to drop `formatting`?

[2018-06-09 12:42] Gabriel439 commented on #440
@bergmark: Oops, yes.  I meant `formatting`

[2018-06-09 13:33] Gabriel439 commented on #108
One idea we discussed at ZuriHac was to take advantage of the generic `parsers` interface to reuse the same parsing logic for both `attoparsec` and `megaparsec`.  Then we could improve performance by first trying to use `attoparsec` to parse the program on the fast path and if that failed then falling back on using `megaparsec`.

[2018-06-09 13:43] FintanH commented on #108
Some work that's been already done on the `attoparsec` front is done here: https://github.com/FintanH/dhall-haskell/tree/fintan/attoparsec

[2018-06-09 18:58] gromakovsky commented on #408
@Gabriel439 sorry for not replying, I was quite busy last week.
I'd like to add such a function, but only when I have more spare time, so if you or anyone else adds it before I do it, I won't be disappointed :)
I intend to use it as an alternative to `Dhall.input`, I didn't know about `Dhall.Parser.exprFromText`.
Now that I'm aware of `exprFromText`, I suppose it makes sense to also add a version

[2018-06-10 09:41] Gabriel439 commented on #436
@gilligan @Fingerzam: It looks like you both opened a pull request to fix this at the same time :)

Both of the pull requests still need additional work, so I'm going to arbitrarily pick @gilligan's pull request to push across the line if that is okay

[2018-06-10 11:50] FintanH opened #453 "`dhall-format` removes parens around record access in URIs"
Discovered with `HEAD`

Minimal example:
* Two files `testImport`, `test`

testImport
[code]

test
[code]

[code]

You can fix this by doing `(./testImport).hello` but `dhall-format` will remove the parentheses.

[2018-06-10 12:30] Gabriel439 commented on #440
To add some extra context to this:

The `Buildable` instance for `Expr` renders an expression in compact form (i.e. one big line).  You can get the same compact 1-line representation by using the `Pretty` instance if you specify an unbounded line length.

[2018-06-10 15:38] joneshf commented on #437
Yes! This would be amazing!

[2018-06-10 17:54] #436 closed

[2018-06-11 06:29] basile-henry commented on #431
With #455 merged, I think we can close this issue. There are still a few things that could be tweaked and improved in the diff command, but nothing mentioned in this issue.

[2018-06-11 06:29] #431 closed

[2018-06-11 09:57] Gabriel439 commented on #453
@FintanH: I found the problem.  The root cause is that `dhall-format` is wrong and shouldn't be removing the parentheses that you add.

There was a recent change to the grammar in https://github.com/dhall-lang/dhall-lang/pull/161 that makes parentheses mandatory around imports when accessing a field in order to avoid ambiguity and `dhall-format` just needs to be updated to match the new grammar

[2018-06-11 11:01] batarian71 opened #457 "Logo design"
Hello. I am a graphic designer. I want to volunteer support for open source projects. If you want, I can design a logo for you. What do you say?

[2018-06-11 12:13] FintanH commented on #453
Alrighty! I'll change the title to reflect the actual issue.

[2018-06-11 13:31] Gabriel439 commented on #457
@batarian71: Yeah, definitely!

Feel free to suggest ideas, but I can also add some context behind the current logo if it helps provide any inspiration.

The Dhall configuration language is named after a character from the computer game Planescape: Torment:

http://torment.wikia.com/wiki/Dhall

The character is belongs to a faction known as the Dustmen who believe that all people should seek the "

[2018-06-11 16:01] jchia opened #460 "Expressing a range of numbers"
In Haskell, we can write `[0,2..10]`, but not in Dhall. Can there be a way to concisely express simple numeric ranges?

[2018-06-11 21:21] f-f commented on #460
Yes, you can use the `enumerate` function [from Prelude](https://github.com/dhall-lang/Prelude/blob/master/Natural/enumerate)

[2018-06-11 22:01] #460 closed

[2018-06-11 22:04] Gabriel439 commented on #460
@jchia: Note that if you need a variation on that function (i.e. starting from a different number or a step size other than `1`) then just let us know.  We're more than happy to add new utilities to the Prelude

[2018-06-11 22:27] jchia opened #461 "import unqualified"
Is there a way to do 'unqualified' imports? E.g. I want to import everything from the `Prelude/List` and use ``Prelude.`List`.length`` 'unqualified' as simply `length`, or at least without mentioning `Prelude`.

Among the examples in the tutorial, I only see those that import individual functions and the one that imports all of `Prelude` after which the functions are used 'qualified'. Both ways re

[2018-06-11 22:38] jchia commented on #461
The best I could come up with was something like this:
[code]

It seems circuitous to grab all of `Prelude` only to zoom in on `List`.

[2018-06-12 02:02] jchia commented on #460
@Gabriel439 Thanks. I'll have a better idea after I get more experience. At the very least, `map` combined with `enumerate` can achieve the same effect, albeit clunkily.

[2018-06-12 08:37] jneira opened #462 "Error using file import as parameter in type annotations for empty List or Optional"
Hi, not sure if this is a bug:
[code]
Using the file import directly as type annotation works but no for `List`, `Optional`, etc.
Tested in windows 7

[2018-06-12 08:41] ocharles commented on #462
Looks like it might have to be `[] : List (./example.dhall)` now? Does that work?

[2018-06-12 08:45] jneira commented on #462
@ocharles it works with parenthesis! i am afraid that `dhall-to-cabal` has [several annotations without them](https://github.com/dhall-lang/dhall-to-cabal/blob/master/dhall/defaults/Package.dhall#L4) what will have to change (i've detected this hacking with dhall-to-cabal dhall files)

In any case closing this, thanks!

[2018-06-12 08:47] jneira commented on #462
Non empty lists work without parenthesis:
[code]

[2018-06-12 08:53] ocharles commented on #462
I'm not entirely sure if this should be closed - I'm not sure if this is intentional. Let's reopen and see what others say.

[2018-06-12 08:54] ocharles commented on #440
Fixed in https://github.com/dhall-lang/dhall-haskell/pull/459

[2018-06-12 08:54] #440 closed

[2018-06-12 09:02] jneira commented on #462
Maybe it is related with the changes in grammar of #413

[2018-06-12 09:29] justinwoo commented on #462
I at least want to know what the dhall-format output is, since trailing spaces drive me nuts, and the trailing spaces for imports used to be around because import paths didn't have parens. Maybe this should always require a parens and is just missing something?

[2018-06-12 09:52] Gabriel439 commented on #462
This is a specification bug.  The specification change introduced in https://github.com/dhall-lang/dhall-lang/pull/161 caused the list type parameter to now require parentheses if it was an import.

The simple explanation is that this should probably be fixed by changing this:

https://github.com/dhall-lang/dhall-lang/blob/d72a9516451559b583cc008f8e6e0b05d05c2189/standard/dhall.abnf#L598-L600

[co

[2018-06-12 09:56] Gabriel439 commented on #462
The fix to the standard is up here: https://github.com/dhall-lang/dhall-lang/pull/173

[2018-06-12 10:40] Gabriel439 commented on #462
Matching change to the Haskell implementation here: https://github.com/dhall-lang/dhall-haskell/pull/463

[2018-06-12 14:52] gilligan commented on #408
@Gabriel439 i'll take a stab at this one ;-}

[2018-06-12 15:53] gilligan commented on #437
Trying to move up from trivial PRs/issues to more interesting ones so I like this one but I would need some advise on how to approach this.

Would someone be willing to give me some guidance?

[2018-06-12 16:15] ocharles commented on #437
@gilligan Sure! I think the rough idea is to parse Dhall files into expressions, but not resolve imports. Then, you'll need to write a function that walks the resulting `Expr` and looks for import statements. Whenever you see an import that *doesn't* have an integrity hash, you would need to fetch that file, normalise it, and calculate the integrity hash. Then, you would replace the users original

[2018-06-13 17:15] yakrar opened #468 "Parser doesn't deal correctly with leading ws in multi-line string literals"
Parsing multi-line strings where the first line has leading whitespace  causes `dhall` to lose a prefix of the same length from every subsequent line.

That is, if you put the following in a file called `testfile`:
[code]
and run it through `dhall`, you get broken output:
[code]

Dodging the import system via `dhall <<< "$(cat ./testfile)"` doesn't change the results.

Moreover, this bug can also

[2018-06-13 19:27] f-f commented on #443
Now that #448 went in, compilation performance should be more acceptable.
@wavewave can you try taking a look at this and see if it's good?

[2018-06-13 19:31] FintanH commented on #443
@f-f We would like to test this but to update past the sha we're using we would need #453 to be fixed.

[2018-06-13 21:17] Gabriel439 commented on #443
@FintanH: Yeah, #453 close to being fixed.  ETA is about 1-2 days

[2018-06-14 00:40] Gabriel439 commented on #468
Fix up in https://github.com/dhall-lang/dhall-haskell/pull/469

[2018-06-14 01:04] #441 closed

[2018-06-14 03:22] Gabriel439 commented on #461
This sounds similar to https://github.com/dhall-lang/dhall-lang/issues/74

[2018-06-14 08:32] gilligan commented on #437
Thanks, very helpful!

[2018-06-14 09:49] gilligan commented on #437
Since i'm bouncing between "ah, this is trivial" and "Huh, and now what?" i'll have to ask for some more help I'm afraid :)

I guess my main problem is that I don't understand the `Expr` data type and I thought that i could just be naive about it and navigate around it but it doesn't seem to be working out.

So what I am looking at right now is:

- Some dhall input  (`Text`)
- Parsing dhall (`expr

[2018-06-14 10:13] FintanH commented on #443
Thanks @Gabriel439! Very much appreciated :)

[2018-06-14 11:47] Gabriel439 commented on #437
Oh, one mistake: you would need to not use `load` (since if you resolve imports then there is nothing to freeze).  You only need to parse the expression before freezing it

[2018-06-14 15:48] Gabriel439 commented on #453
Fix up in https://github.com/dhall-lang/dhall-haskell/pull/471

[2018-06-14 16:08] Gabriel439 commented on #443
I have a pull request up with the fix now: https://github.com/dhall-lang/dhall-haskell/pull/471

You should be able to test memory usage off of that branch

[2018-06-14 16:09] #468 closed

[2018-06-14 16:53] Gabriel439 commented on #445
Fix up here: https://github.com/dhall-lang/dhall-haskell/pull/472

[2018-06-15 00:49] #462 closed

[2018-06-15 07:21] quchen commented on #183
FWIW, `prettyprinter` supports trimming trailing whitespace as of yesterday, https://github.com/quchen/prettyprinter/commit/46626c0e74f9f8cb792d816ca7a28921430e4f20

[2018-06-15 07:27] basile-henry commented on #445
Great, thanks! :smile:

[2018-06-15 09:04] gilligan commented on #437
@Gabriel439 @ocharles still banging my head against the Dhall wall a bit here ;-}

The hashing with `hashExpression` works on `Expr Src Import` while my `freeze` function that i am traversing over an Expression over, deals with single Imports.

Do I have to load the import first after all or what's the deal with that or do I have to wrap the import in an Expr or how should I approach this?  I'm no

[2018-06-15 15:30] Gabriel439 commented on #437
@gilligan: Yes, you will need to load the import in order to be able to hash it with `hashExpression`.  The trick is to wrap the `Import` in the `Embed` constructor to get an expression of type `Expr Src Import` which you can pass to `Dhall.Import.load`.  I think it would be something like this:

[code]

[2018-06-15 15:33] gilligan commented on #437
@Gabriel439 Thanks a lot for your patience & support ;)

[2018-06-15 15:34] Gabriel439 commented on #437
@gilligan: You're welcome! 🙂

[2018-06-15 15:38] #453 closed

[2018-06-15 15:49] #445 closed

[2018-06-15 16:04] Gabriel439 commented on #445
You're welcome! 🙂

[2018-06-19 06:53] aleator opened #476 "Question: How to recover Boehm-Berarducci encodings?"
Suppose I have some BB encoded dhall value, for example:

[code]

Is it currently possible to read these into Haskell, in any form? Functions cannot currently be injected, I think?

I was thinking of adding a special function for this purpose, but if there already is an obvious solution that I've missed I would like to hear about it.

(I think this is doable by stripping of the first parameter and

[2018-06-19 07:51] ocharles commented on #476
Here's how it's done in `dhall-to-cabal` for a similar (though bigger) type:

https://github.com/dhall-lang/dhall-to-cabal/blob/master/lib/DhallToCabal.hs#L647-L739

[2018-06-19 07:52] ocharles commented on #476
Note, the above should actually find that `Lam` of all those arguments and then immediately apply it to free variables. There is a bug looming here, I never got round to fixing it.

[2018-06-19 16:28] FintanH commented on #443
Unfortunately we're still seeing the same issue.

[code]

[2018-06-19 20:39] Gabriel439 commented on #443
I'll need more details on how you build `dhall` because I cannot reproduce this problem on my personal laptop (8 GB RAM, OS X), or on Dhall's CI (4 GB RAM, Linux).

The main details I need are:

* Operating system
* Build tool (i.e. `stack` or `cabal` or Nix)
* Any unusual configuration flags (i.e. profiling, debugging, dead code elimination)

[2018-06-19 20:48] FintanH commented on #443
Yup, I can follow up with full details :)

[2018-06-20 11:20] f-f commented on #443
@FintanH are you compiling the latest master? The submodules should compile before compiling `Parser` (in my case `Parser.Token` takes a while to compile, while `Parser` is pretty much instantaneous):
[code]

[2018-06-20 11:36] FintanH commented on #443
@f-f That's a really good point, nice catch! I did update to the latest master (as far as I remember..)

I'll take another stab at it soon and investigate further. Stay tuned 👂

[2018-06-20 19:08] batarian71 commented on #457
I'm sorry for it's been little long. I made a logo by considering your requests. I hope you like it. What dou you think.

![hall](https://user-images.githubusercontent.com/36008612/41679303-6f966442-74d6-11e8-9963-a47d6e652b21.jpg)

[2018-06-20 19:50] Gabriel439 commented on #457
Note that the name of the project is actually Dhall and has an existing logo you can compare to.  The main project page is here: https://github.com/dhall-lang/dhall-lang

This project is just a Haskell-specific implementation of Dhall

It's not clear from the logo that the pencil is actually a quill.  Also, it's not clear what the gear is there for.

[2018-06-21 01:41] Gabriel439 commented on #424
@f-f: So what I will probably implement is an intermediate solution, which is to special-case rendering the skeleton of `Optional …` and `List …`

The issue with fully rendering the skeleton of an `App` constructor is that there's no limit on how deeply nested the `App` could be if you have a function applied to a large number of arguments and `skeleton` is designed to produce an output of bounded

[2018-06-21 09:48] batarian71 commented on #457
Do you actually have an idea? What kind of logo do you want?

[2018-06-21 14:59] Gabriel439 commented on #457
@batarian71: I'm actually fine with the current logo but was mostly interested in seeing if you had ideas on how to improve on it

[2018-06-21 22:32] sellout opened #481 "add `--remove-unused` option to `dhall format`"
It would be nice to have `dhall format` clean up unused bindings, however, since `dhall format` is also used in editor modes, we don’t want to end up deleting not-_yet_-used bindings while editing, so it should be an explicit option.

[2018-06-21 23:05] Gabriel439 commented on #424
Alright, that pull request is merged.  Give it a test drive and let me know if that works for you

[2018-06-22 16:34] Gabriel439 commented on #424
@f-f: You're welcome! 🙂

[2018-06-22 19:56] sboosali commented on #78
Looks like dhall-to-cabal has been released. Should we close this issue?

[2018-06-22 20:01] Gabriel439 commented on #78
Yep!  Closing

[2018-06-22 20:01] #78 closed

[2018-06-23 00:41] Gabriel439 commented on #481
Would it be alright if I made this a separate `dhall lint` subcommand?  That way we could group any suggestions for automatically improving `dhall` code underneath that command

[2018-06-23 00:44] sellout commented on #481
Yeah, that sounds even better to me.

[2018-06-23 06:00] Gabriel439 commented on #481
Pull request up here: https://github.com/dhall-lang/dhall-haskell/pull/484

[2018-06-25 15:00] #481 closed

[2018-06-27 20:51] f-f opened #487 "Hydra marks some broken builds as successful"
While working on #473, I noticed that Hydra marks some builds as "green" here on Github, even though they did not build or passed tests.

Examples:
  - Not building but green:
    - bdeebfa ([build](https://hydra.dhall-lang.org/eval/1672218))
    - 8051981 ([build](https://hydra.dhall-lang.org/eval/1672056)
  - Builds, but tests don't pass:
    - d4dcf44 ([build](https://hydra.dhall-lang.org/eval/

[2018-06-27 20:54] f-f commented on #437
Fixed in #486 🎉

[2018-06-27 20:54] #437 closed

[2018-06-28 01:01] Gabriel439 commented on #487
Yeah, I noticed the same thing, too.  The issue is that the two builds both produce the same GitHub status named `hydra` so the last one takes precedence.  I can fix it to only mark the status of builds of things beginning with the name `dhall*` so that it doesn't pick up the build named `pwd`

[2018-06-28 13:50] #487 closed

[2018-06-28 18:48] Profpatsch opened #489 "Should let Prelude = … in Prelude.Text.concatMap parse at the moment?"
I followed the grammar changes a bit, and thought this should be not a problem anymore:

[code]

[code]

Will it stay like this, or has the haskell implementation just not caught up yet?

[2018-06-28 18:55] Profpatsch commented on #489
For reference, `./Prelude.dhall` contains the string `../Prelude/package.dhall` (which is a checkout of current master) and I’m on dhall `1.14.0`.

[2018-06-28 19:01] Profpatsch commented on #489
Wait, I need to use `Prelude.\`Text\`.concatMapSep`? When was that introduced?

[2018-06-28 22:12] Gabriel439 commented on #489
Yes, you need to quote `Text` with backticks because it is a reserved identifier.  That was standardized since this revision:

https://github.com/dhall-lang/dhall-lang/commit/727f68e329a964b8e6580a799b20db0718ad2968#diff-08f598810aa82efee254d96a55b67fdc

[2018-06-28 22:39] Profpatsch commented on #489
I think this should be documented explicitely, since it‘s used extensively in `Prelude`. Is the `Tutorial` module still the main source of syntax documentation apart from the ABNF?

[2018-06-29 04:53] Gabriel439 commented on #489
Yes, the tutorial module is still the main source of documentation at the moment

[2018-06-29 14:42] Profpatsch opened #493 "Doctests for Dhall/Tutorial.hs"
The tutorial’s doctests are not run at the moment.

I imagine the reason is that it does not fare well with dhall imports?
If it’s possible to specify the “file folder” that dhall sees somehow, the example files can be put into a folder and the doctests pointed at it.

[2018-06-29 14:51] Profpatsch opened #494 "Improve parser suggestion/error when using a builtin as a label"
[code]

All of these should probably say something like:
“unexpected builtin symbol `Text`/`Integer/show`, maybe you want to use it as record field label, in this case put it inside backticks, like: ```({ `Text` = "hello" }).`Text` ```

[2018-06-29 14:56] Profpatsch commented on #494
One more example:

[code]

though in this case it might make sense to forbid names that are builtins? Or at least to discourage it, see the second input, which parses but is not what was intended of course.

[2018-06-29 15:00] Profpatsch commented on #494
One more contrived example that’s possible but probably not a good idea:

[code]

So, allow field (and union?) labels that are named after symbols, but maybe forbid them in function binding and let clauses.

[2018-06-29 15:22] Profpatsch commented on #489
PR: https://github.com/dhall-lang/dhall-haskell/pull/495

[2018-06-29 15:22] #489 closed

[2018-06-29 15:43] Gabriel439 commented on #494
@Profpatsch: I would also like to keep the grammar for labels uniform throughout the language for conceptual consistency.  In particular, record fields should share the same grammar with bound variables of a `let` expression since a record is conceptually analogous to multiple `let` bindings, and `let`-bound variables should share the same grammar as `λ`-bound variables since many `let` expression

[2018-06-29 18:17] Gabriel439 commented on #494
Actually, after taking a stab at this, I'm not sure that I can improve the parse error message.  Everything I tried did nothing to improve the error message :\

[2018-06-30 01:13] Gabriel439 commented on #493
Fix up here: https://github.com/dhall-lang/dhall-haskell/pull/496

[2018-06-30 13:17] #493 closed

[2018-07-01 17:05] ocharles opened #498 "dhall format --inplace should force the resulting string before writing it"
I just lost a Dhall file because I ran `dhall-format` on it and hit a bug. This meant the file just contained a huge list of `(` - presumably an infinite loop somewhere - causing me to lose the contents of the file (yet to reach source control). In an ideal world it wouldn't go wrong, but we don't live in an ideal world. I'll take the extra memory usage of buffering the contents first and witnessi

[2018-07-01 17:09] gilligan commented on #498
freeze also does inplace changes so maybe it should apply there as well

[2018-07-01 17:10] ocharles commented on #498
Yep, anywhere we're writing files should do this. I think using strict text might be sufficient, but that might still have the problem of truncating the file if creating that text goes into an infinite loop.

[2018-07-01 17:15] ocharles opened #499 "dhall-format infinite loop"
The following causes `dhall-format` to go into an infinite loop of printing `(`.

[code]

[2018-07-01 17:16] ocharles commented on #499
It seems to be the `?` syntax. If I remove it from line 2, we're all good.

[2018-07-01 17:32] quasicomputational commented on #499
Probably #491, I think.

[2018-07-01 17:38] ocharles commented on #499
Oh, it's unfortunate that didn't make 1.15. I'd suggest we get this out as 1.15.1 as it's already caused one person to lose work.

[2018-07-01 23:00] Gabriel439 commented on #499
This is fixed by #491

I just opened a pull request to cut a new release in #500

[2018-07-01 23:00] #499 closed

[2018-07-06 18:26] judah opened #504 "Read files as UTF-8, regardless of locale"
Currently, Dhall changes the encoding that it expects of input files based on the current locale.  My understanding from the docs, and from #188, is that the input is expected to be UTF-8.  So there are a few places in the code that probably need to be changed.

One place in particular:
https://github.com/dhall-lang/dhall-haskell/blob/5416269d5f99e8986294d0a7d7a124726cfb450e/src/Dhall/Import.hs#L4

[2018-07-06 18:47] Profpatsch commented on #504
We already fixed some of the imports a few months back iirc, might have missed a few spots.

[2018-07-07 22:17] justinwoo opened #505 "Working with Homogeneous Records as Map"
I tried looking at this as a library, but I didn't find much to help me use homogeneous records as `Map Text a`.

A "solution" I found was to try to isolate the thing I wanted to read and handle its Expr directly, but I didn't find any nicer way to work with this as a member of a record.

[2018-07-07 22:22] f-f commented on #505
[Relevant Twitter thread](https://twitter.com/jusrin00/status/1015542253803188224)

[2018-07-07 22:32] sellout commented on #505
So, you’re looking for something like this?
[code]
(I haven’t tried that – just trying to sketch it out.)

[2018-07-07 23:15] Gabriel439 commented on #505
@justinwoo: I think it would be something like this:

[code]

[2018-07-08 03:31] Gabriel439 commented on #504
Yes, the standard requires that the character encoding is UTF-8 (See: https://github.com/dhall-lang/dhall-lang/blob/master/standard/dhall.abnf#L3), so I'll fix these

[2018-07-08 03:37] Gabriel439 commented on #504
Actually, I wonder if using `System.IO.setLocaleEnding` would fix this globally so that we don't have to set it for every `Handle`:

http://hackage.haskell.org/package/base-4.11.1.0/docs/GHC-IO-Encoding.html#v:setLocaleEncoding

[2018-07-08 03:52] Gabriel439 commented on #504
@judah: Could you try out #506 to see if that works for you?

[2018-07-08 09:29] justinwoo commented on #505
@Gabriel439 is there a way to convert a homogeneous record to a list of keyvals? I use the record property when writing the actual Dhall code, but want to import it as a map when working with it

[2018-07-08 09:35] f-f commented on #505
I believe we'd need the `toMap` function described in https://github.com/dhall-lang/dhall-lang/issues/169#issuecomment-395893113 and https://github.com/dhall-lang/dhall-lang/issues/164#issuecomment-398910371 to convert a Record to a list of keyvals

[2018-07-08 14:59] Gabriel439 commented on #505
Yeah, `toMap` is the change to the language I'd propose to support that

[2018-07-09 06:09] mrkkrp commented on #504
I've tried #506 but it does not solve the issue. Maybe it's because the code is read at compile time with `staticDhallExpression`? Still getting:

(Only when the file contains Unicode, of course.)

[2018-07-11 15:23] quasicomputational opened #507 "CWD independence"
dhall's API should be convenient to work with without switching the current working directory. However, currently the `input*` family of functions will only resolve imports relative to the CWD; these would be very useful to solve dhall-lang/dhall-to-cabal#114. There are hacks around this (e.g., parse the file, then munge all imports to include the desired prefix), but they're obviously hacks and d

[2018-07-12 20:55] Gabriel439 commented on #507
@quasicomputational: How about making a breaking change to `inputFrom`/`inputFromWith` so that they accept a `FilePath` as input instead of `Text`?  In other words:

[code]

[2018-07-12 21:11] quasicomputational commented on #507
They might work as convenience functions that DTRT and saves on parameters because the source file for error reporting will also be the file to read from and also lets us work out the CWD, but that doesn't handle the stdin case, or anything else where you're not simply reading Dhall from a file.

[2018-07-12 21:22] Gabriel439 commented on #507
@quasicomputational: What do you mean by the stdin case?

[2018-07-13 04:29] Gabriel439 commented on #504
@mrkkrp: I just added another commit to that pull request to also set the locale for `staticDhallExpression`.  Could you give that a try and see if it fixes the issue for you?

[2018-07-13 13:14] quasicomputational commented on #507
Sorry for the excess brevity. dhall-to-cabal uses `importFrom` on a `Text` blob that can either come from a file (which would be served well by the change suggested above) or from stdin (in which case, it wouldn't).

[2018-07-13 20:28] Gabriel439 opened #509 "Improve error messages for failed remote imports"
Currently the interpreter dumps the raw Haskell exception when failing to retrieve an import, like this:

[code]

It might be worth cleaning that up to provide a nicer error message

[2018-07-14 15:00] Gabriel439 commented on #507
@quasicomputational: For the `stdin` case, wouldn't you still have the same problem, because the executable can't infer which file the standard input came from?

[2018-07-14 15:36] quasicomputational commented on #507
We might need to grow a `--cwd` flag for that so that the user can explicitly specify it for stdin, yeah. Defaulting to the CWD is the right thing to do about 80% of the time but I can easily imagine cases where it wouldn't be.

[2018-07-14 16:20] Gabriel439 commented on #504
I will go ahead and merge #506 since it seems like an improvement anyway, but I'll keep this issue open until I hear confirmation that this is fixed

[2018-07-14 16:36] mrkkrp commented on #504
We have worked around this by setting `LANG` and `LOCALE_ARCHIVE` on GHC invocations (it's invoked by Bazel in a controlled environment). I may have time to test this fix also next week.

[2018-07-16 08:44] Profpatsch commented on #507
I’ve stumbled over this, though maybe the best solution in this case is to put the code into a file and pipe a file import instead.

Instead of

`echo 'some code' | dhall`

you use

[code]

[2018-07-16 08:48] ocharles commented on #507
You can just do `dhall <<< ./pathToFile.dhall` for that.

[2018-07-16 10:09] Profpatsch commented on #507
It’s a bash-ism, but yes.

[2018-07-16 16:20] Gabriel439 commented on #507
I think for the command line API a `--file` flag for people unable to use `<<<` would be enough.  I think `--cwd` might be too specialized for the command line API since I think it would be pretty rare where a person doesn't want to read from a file but does want to change the current directory.  Also, if that were the case the person could still change the current directory using `pushd` or `cd`

[2018-07-18 04:11] gregwebs opened #513 "Docker distribution"
Are there any easy ways to distribute dhall (no requirement for installing any Haskell toolchain)? I can provide a Dockerfile.

[2018-07-18 19:01] gregwebs commented on #513
Let me know when you have a package and then I can create a Dockerfile with that. It's nice to have a sandboxed install that also works on Mac.

[2018-07-18 19:20] f-f commented on #513
@gregwebs we also have Dhall available in `nix`, which is pretty sandboxed ([more info here](https://nixos.org/nix/about.html), but it has many nice things, and system-wise "sandboxing" in that if you want to get rid of it you can just nuke the `/nix` folder).

Once you install `nix` (see [here](https://nixos.org/nix/download.html)) you can get `dhall` with `nix-env -iA nixpkgs.dhall`

[2018-07-18 20:20] gregwebs commented on #513
Great! I can probably also create a docker image with the nix package.

[2018-07-18 20:44] PierreR commented on #513
FWIW it is really easy to make a docker from a nix configuration without any Dockerfile. The image is usually better optimized in terms of size. You just need to use `dockerTools.buildImage`.

[2018-07-19 18:00] justinwoo opened #514 ""Unbound variable" error message could suggest checking file path inputs"
I think "unbound variable" errors for trying to pass in a literal file path without the leader `./` is a pretty easy way to lose time being confused. I'd like to add some small message to suggest doing this check, but was wondering if anyone opposed this for some reason.

[2018-07-19 18:12] Gabriel439 commented on #514
Yeah, that seems reasonable to me

[2018-07-20 18:08] ocharles opened #515 "Could we format multi-line function calls with arguments intended?"
I really struggle to skim things like

[code]

If the arguments to `merge` were intended, I'd have an easier time making sense of this:

[code]

How do others feel about this?

[2018-07-20 19:21] MonoidMusician opened #516 "Reversed logic in `BoolAnd` etc. cases of `isNormalized`"
This logic (and similar pieces) looks backwards to me:

https://github.com/dhall-lang/dhall-haskell/blob/99db7f715b1515fd9033e2e82985aa9f606be398/src/Dhall/Core.hs#L1776-L1782

This is what I would expect:
[code]
because `&&` can be normalized if one or both of its operands are literals.

[2018-07-20 19:34] Gabriel439 commented on #516
Yes, that is a bug.  I'll fix this as soon as possible

[2018-07-21 14:37] Gabriel439 commented on #515
Sure, I think that's fine.  The only caveat I would add is that if we do this then we should also adjust the pretty-printing logic to detect and use the number of available columns in the terminal instead of assuming 80 columns because this will conserve indentation less.

[2018-07-21 15:52] justinwoo opened #518 "Record formatting should be ordered by key"
While previously changed with #244, insertion order being preserved has made for looking at diffs of Dhall files even harder for me, especially when working with records with many fields.

Since users can define functions to require arguments in a specific order to build records, is there a need to  preserve this information and force it for formatting?

Related to https://github.com/dhall-lang/dh

[2018-07-21 16:43] Gabriel439 commented on #518
I think whether or not record fields are ordered is orthogonal to whether or not curried function arguments are ordered.  For example, you can transform any curried function like this:

[code]

... into a function that accepts a record of arguments instead:

[code]

... and that record that you supply as input to the function can have the fields defined in any order.

It's also not clear to me why

[2018-07-22 15:56] Gabriel439 commented on #513
@gregwebs: We now have tarballs containing statically linked `dhall` and `dhall-to-{json,yaml}` executables for the latest releases.  You can get them here:

* https://github.com/dhall-lang/dhall-haskell/releases/download/1.16.1/dhall-1.16.1-x86_64-linux.tar.bz2
* https://github.com/dhall-lang/dhall-json/releases/download/1.2.2/dhall-json-1.2.2-x86_64-linux.tar.bz2

More generally, new releases go

[2018-07-22 16:52] joneshf commented on #235
Per https://github.com/dhall-lang/dhall-lang/issues/192#issuecomment-406872743, I think this issue is resolved.

[2018-07-22 16:52] #235 closed

[2018-07-26 21:35] eamsden opened #525 "Combinators for `InputType`s for Haskell records"
Currently (1.16.1) the `dhall` package provides combinators to construct `Type` values for Haskell record types (the `record` and `field` combinators and the `Applicative` instance for `RecordType`) but no corresponding way to generate `InputType` values for Haskell record types.

I would like to implement the following API, along with any feedback requested by the maintainers:

[code]
(Any sugges

[2018-07-27 05:37] Gabriel439 commented on #525
One way to do this for symmetry with the `RecordType` API would be to do something like this:

[code]

Then if you build on top of [the `Divisible` API](http://hackage.haskell.org/package/contravariant-1.5/docs/Data-Functor-Contravariant-Divisible.html) to define these utilities:

[code]

... and then you use those to build `InputType`s like this:

[code]

[2018-07-27 15:21] Gabriel439 commented on #525
@eamsden: You can do this:

[code]

[2018-07-27 22:54] Gabriel439 commented on #108
So I've recently been working on minimizing the original pathological example to a much smaller example which eliminates a lot of conflating factors, which is this newly added benchmark:

https://github.com/dhall-lang/dhall-haskell/pull/526/files#diff-7d7876f2897ca672302d9b91c78a786dR52

If you just try to parse a file with `x` applied to itself a large number of times (i.e. `x x x x x x x ...`) y

[2018-07-27 23:03] Gabriel439 commented on #108
Also, I want to clarify that if we do switch to `attoparsec` to tokenize the input that doesn't imply that we need to fix the grammar to remove nested block comments or string interpolation.  We can still use `attoparsec` to produce a stream of tokens that is mostly linear but supports nesting when there is no alternative, in like string interpolation:

[code]

This is something that @chrisdone ha

[2018-07-27 23:14] Gabriel439 commented on #108
Also, here are some numbers showing how the impact of setting `noted = id`:

Before:

[code]

After:

[code]

[2018-07-30 18:19] #516 closed

[2018-08-02 05:22] joneshf opened #532 "Provide non-truncated version in normal error messages"
While working on defining Kan extensions and whatnot, some of the error messages are pretty hard to decipher unless the `--explain` flag is used. Compare

<details>
<summary>Without `--explain`</summary>

[code]
</details>

<details>
<summary>With `--explain`</summary>

[code]
</details>

The problem is that the type given in the let binding is missing the `Functor f`, but it's really hard to disc

[2018-08-02 15:22] Gabriel439 commented on #532
I think the solution I would prefer is to make the diff more intelligent rather than include the original types.  The reason for only using a diff in the first place is that the original types can get extremely large for some configuration file formats (like in `dhall-to-cabal`).

For example, the diff could conceivably look like this:

[code]

[2018-08-02 17:14] Gabriel439 commented on #410
Finally got around to this.  The fix to the standard is up here: https://github.com/dhall-lang/dhall-lang/pull/209

[2018-08-02 19:57] joneshf commented on #532
I'm down for it!

[2018-08-03 03:00] Gabriel439 commented on #532
@joneshf: So the bad news is that we might not be able to easily preserve the variable names since the expressions are α-normalized before diffing.  However, I still think we can more intelligently compute insertions

Also, could you give me a self-contained expression for your code that I can use for testing the displayed diff?

[2018-08-03 14:25] joneshf commented on #532
Hmm, that's unfortunate. is it feasible to alpha-normalize while retaining the original name as metadata?

<details>
<summary>SCE</summary>

The `Functor` is from https://github.com/FormationAI/dhall-bhat/blob/485c8f3e4d5397a36a194788f1507f8f0634ce16/Functor/Type

[code]
</details>

[2018-08-03 16:50] Gabriel439 commented on #532
The main technical limitation is how to present the information to the user if the two types being compared use different variable names.  For example:

[code]

The two types being compared would be:

[code]

... and the only actual difference in the types is that the first type has one extra `∀(_ : a)`, so you could display:

[code]

 but if you want to also display variable names in the diff the

[2018-08-03 17:03] Profpatsch commented on #532
How about only displaying the original name when both names match?

[2018-08-04 13:55] f-f commented on #410
@Gabriel439 sorry if the question is naïve: why should we prevent mixing values and types in records? UX-wise it's pretty useful to have.

[2018-08-04 14:02] Gabriel439 commented on #410
@f-f: See: https://github.com/dhall-lang/dhall-lang/pull/120

[2018-08-04 19:14] joneshf opened #534 "Possible type checking error"
Given this code:
[code]

I would expect it not to type check. It seems that in recent versions it does. Is this intentional?

<details>
<summary>1.15.1</summary>

[code]
</details>

In an older version, it doesn't type check.

<details>
<summary>1.8.2</summary>

[code]
</details>

Is the older version right, or is the newer version right?

[2018-08-04 19:30] joneshf commented on #534
Jawesome! THanks!

[2018-08-04 19:31] Gabriel439 commented on #534
You're welcome! 🙂

[2018-08-04 21:48] Gabriel439 commented on #532
@Profpatsch: The problem with that is that you would also need to fix all references to that variable to match.  For example, suppose that you compare these two types:

[code]

... which respectively α-normalize to:

[code]

The diff for what would be something like:

[code]

... but if you change the first `_` to `a`, you would also need to fix the last variable, too:

[code]

[2018-08-05 15:36] Gabriel439 opened #537 "Create `man` pages for Dhall"

[2018-08-07 08:27] Profpatsch commented on #537
What man pages are needed, apart from the documentation of the executables? I think it would be nice to have all documentation in an offline format, be it html files or manpages for e.g. the grammar, the semantics and the tutorial.

[2018-08-07 08:29] Profpatsch commented on #532
That looks quite sensible to me though? If you mean that in the last example there’s too much noise in the diff, wasn’t that exactly what was originally requested by OP?

[2018-08-08 01:52] Gabriel439 commented on #537
@Profpatsch: In this case just a basic summary of the command line would be enough.  The main motivation for this was that I was working through packaging Dhall for Debian/Fedora and realized in the process that `man` pages were customary for those distros.  Also, just having the `man` pages at all improves the overall perception of polish for the project.

[2018-08-08 02:15] Gabriel439 commented on #532
@Profpatsch: What I meant is that doing it in the sensible way is difficult to get correct

[2018-08-08 09:05] Profpatsch commented on #537
On debian, `man` pages are even required.

[2018-08-08 18:34] Gabriel439 opened #539 "Should the default `dhall` command emit the type to `stderr`?"
One issue that I've begun to run into recently is the fact that the default `dhall` command (i.e. no subcommand) reserves `stderr` for printing the inferred type of the expression. This prevents the executable from emitting useful information to `stderr` for successful runs.

For example, the next release of the standard will say:

The natural place to put that warning would be `stderr` but that w

[2018-08-09 04:30] Gabriel439 commented on #532
I just ran into another issue when attempting to implement my suggested fix.  Consider a comparison of the following types:

[code]

[code]

If you compare them the way I suggested, you would get:

[code]

... instead of the narrower diff of:

[code]

I'll try to see if there's another approach to simplifying the diff

[2018-08-09 04:41] Gabriel439 commented on #532
So I can simplify it a little bit by condensing the skeleton for function types:

[code]

... and I'll put up a pull request for that

[2018-08-09 04:59] #410 closed

[2018-08-09 12:48] Profpatsch commented on #539
I think we should never abuse `stderr` for carrying in-band data (as compared to meta data, like warnings or errors). Users should never use any data on `stderr` for further processing (except maybe formatting for logging).

[2018-08-09 15:14] ocharles commented on #539
I find the current behaviour inconvenient as I'm calling `dhall` during Nix evalutaion (with import-from-derivation). The current behavior means that during evaluation Dhall types get printed out. However, I can't redirect stderr to `/dev/null` because then I would actually lose error messages when there is a problem.

[2018-08-09 19:06] sellout commented on #539
I vote for option one (no types on stderr). What if some option like @Profpatsch suggests outputs the normalized form with an explicit type annotation, so that the stdout is still valid Dhall?

[2018-08-09 19:08] Gabriel439 commented on #539
Alright, then we'll go with no types on `stderr`.  Let me also see if I can add an easier way to obtain the type besides `dhall resolve | dhall type`

[2018-08-09 23:33] f-f commented on #539
@Gabriel439 I'd +1 as well on the `--type-output` flag as @Profpatsch suggested

[2018-08-10 23:52] Gabriel439 commented on #539
I really like @sellout's suggestion of including the type annotation in `stdout`.  I think the main question on my mind is whether or not the type annotation should be present or absent by default.  Either way there would be some option to toggle the type annotation.

[2018-08-11 21:36] Gabriel439 commented on #539
I think I'll tentatively go with omitting the type annotation by default and allowing the user to opt in using an `--annotate` switch

[2018-08-12 14:29] #539 closed

[2018-08-12 14:47] Gabriel439 commented on #408
I'll close this as I believe it was fixed by #512, which introduced `inputFile`

[2018-08-12 14:47] #408 closed

[2018-08-16 02:22] joneshf opened #546 "Empty unions cause a crash"
Looks like, if we try to use an empty union in a lambda, the program crashes.

[code]

i think the spec allows empty union types, so maybe it's something specific to the implementation? Any thoughts before I dive in looking for the problem?

[2018-08-16 04:38] sellout commented on #546
This works for me in 1.15.1. I’m assuming you’re on 1.16.x? Or master?

It looks like it’s erroring when trying to pretty-print the type to stderr.

Can you `dhall format` it successfully? Have you used `<>` in other contexts successfully?

Or … is the LOCALE set “incorrectly” or something? This does look like the errors we used to get in CI, before Dhall was fixed to ignore the LOCALE.

[2018-08-16 09:39] joneshf commented on #546
Oh, you're right, it's the locale thing!

The particular line it's trying to print is a red herring. It's failing whenever it tries to display unicode:

[code]

I was running 1.15.1 in a pure nix shell, so it wasn't loading the environment variables for locale stuff:

[code]

Setting the locale seems to work:

[code]

Sorry for the noise!

[2018-08-16 09:39] #546 closed

[2018-08-16 10:37] joneshf commented on #546
Sorry, I closed this since #506 seems to address it:

[code]

[2018-08-22 02:33] semio opened #547 "parsing identifier which name starts with reserved keyword"
Dhall fails to parse identifier when the identifier's name starts with a reserved keyword, for example:

[code]

But it works if I rename the variable name

[code]

Also I found `dhall format` gives incorrect result when the identifier starts with `constructors`:

[code]

[2018-08-22 18:55] ocharles commented on #547
But isn't `True` a reserved keyword? The file that is just `True<EOF>` should parse, so I guess "non-empty whitespace" can also be EOF?

[2018-08-22 19:01] Gabriel439 commented on #547
Oh yeah, good point.  Let me think more about this

[2018-08-23 01:47] Gabriel439 commented on #547
Here's another idea: we can require non-empty whitespace after the following key words since they cannot be followed by end-of-file:

* `if`
* `then`
* `else`
* `let`
* `in`
* `as`
* `using`
* `merge`
* `constructors`

This appears to work because all of the remaining reserved identifiers are built-in functions and values which don't exhibit this problem because the grammar already correctly suppo

[2018-08-23 11:57] joneshf commented on #532
Going back to the original problem, could there be another level of reporting?

Right now, there's:

1. Normal - Shows the error, type diff, and original expression
1. Explain - Shows the error, type diff, explanation, prose diff, and original expression

An alternate way to report could be:

1. Minimal - Shows the error, type diff, and original expression
1. Normal - Shows the error, type diff, p

[2018-08-23 12:20] joneshf opened #548 "Semantic integrity hash affected by field order"
It looks like something changed to the way hashes work for records and unions. In an older version, the order of fields in records/unions would not change the hash. That seems to be [in line with the standard](https://github.com/dhall-lang/dhall-lang/blob/master/standard/semantics.md#records-1). In more recent versions, the order of fields affects the hash produced.

<details>
<summary>dhall-hash

[2018-08-23 13:11] f-f commented on #547
@Gabriel439 yeah, I think that is the right solution 👍 Would it break anything? (any valid expression, that is)

[2018-08-23 14:08] Gabriel439 commented on #547
@f-f: Yes, it would break expressions like these:

[code]

[code]

[2018-08-23 18:30] Gabriel439 commented on #548
Thinking about this more, what I plan to do is to have the specification only require that β-normalization sorts fields, since that would in turn guarantee that semantic integrity checks sort fields (since a semantic integrity check is done post-αβ-normalization).

The reason for doing things this way is that binary encoding could in principle be used for things other than semantic integrity check

[2018-08-23 20:54] Gabriel439 commented on #532
@joneshf: I'm not sure if the prose diff should be the default, though, because I believe we should optimize for configuration files with complex schemas where the concise diff is the clearer of the two error messages.  For example, in `dhall-to-cabal` the prose explanation does not help because the user cannot easily scroll past the large types to read the text of the error message.  The user als

[2018-08-24 06:42] jneira opened #549 "Cache imports not working in windows by default"
Hi, i've tested the [new feature of cache imports](https://github.com/dhall-lang/dhall-haskell/commit/d010464d02836025251b2d061fe93b56625daa3b) using in master version and it seems that it is not working in (at least some versions) of windows.
In Windows 7 the `HOME` environment variable used in the code is not set by default, the more similar one would be `%USERPROFILE%`.
Setting `HOME` at system

[2018-08-24 06:50] jneira commented on #549
I am working in a pr using `System.Directory.getXdgDirectory` and `System.Directory.getHomeDirectory`.

[2018-08-24 08:51] Profpatsch commented on #549
Iirc caching should go either into `%APPDATA%\Roaming` or `%APPDATA%\Local` on newer Windows versions.

[2018-08-24 09:11] jneira commented on #549
Yeah, `Directory.getXdgDirectory Directory.XdgCache ""` actually uses `%LOCALAPPDATA%`(`C:\Users\user\AppData\Local`), i hope the change will keep the actual used dir in *nix envs

[2018-08-25 03:48] Gabriel439 commented on #547
Here is the proposed change to the standard grammar: https://github.com/dhall-lang/dhall-lang/pull/222

[2018-08-25 04:59] Gabriel439 commented on #547
Here's the matching change to the Haskell implementation: https://github.com/dhall-lang/dhall-haskell/pull/551

[2018-08-25 05:41] Gabriel439 commented on #548
Here's the matching change to the Haskell implementation: https://github.com/dhall-lang/dhall-haskell/pull/552

[2018-08-25 11:27] joneshf commented on #548
Wooo! Thanks for the quick fixes!

[2018-08-25 15:57] Gabriel439 commented on #548
@joneshf: You're welcome! :slightly_smiling_face:

[2018-08-26 22:52] #549 closed

[2018-08-27 08:47] jneira opened #553 "Problem with hashed import of dhall file that uses constructors keyword"
Hi, i've tried to import the [dhall-to-cabal prelude](https://raw.githubusercontent.com/dhall-lang/dhall-to-cabal/master/dhall/prelude.dhall) with the semantic integrity check with this result:
[code]

- **At this point i edited the file to set the actual hash**
[code]
  - **At this point dhall created the cache file: https://gist.github.com/jneira/4b2167e8793e3a124b531356e2e190fa**

However, impo

[2018-08-27 08:51] Profpatsch commented on #553
cc @ocharles as well.

[2018-08-27 09:36] ocharles commented on #553
CC received, but I watch all these repositories anyway :laughing: @jneira It might be worth taking the `dhall-to-cabal` prelude and making it simpler and simpler until `freeze` works - it might give an indication of what expression causes the problem.

[2018-08-27 10:55] jneira commented on #553
As maybe it was expected, using the expanded equivalent of `constructors` (i hope it is correct!) works:
[code]

[2018-08-27 17:25] Gabriel439 commented on #553
From manually decoding the two versions it looks like the difference is that  `2324a5352105b6835db60b127c7096c5d5b81027969ccd368d163edc5d9692e0` is the α-normalized version and `e95ca6fcece107ac7b316ea181ff641e79dfb1682b065df4acde9d9a3671cda7` has not been α-normalized.

I'm now looking into why.

[2018-08-27 17:51] Gabriel439 commented on #553
I found the problem.  The root cause is that α-normalization and β-normalization do not commute.  This is because β-normalizing a `constructors` expression introduces new bound variables in the generated record, so you need to α-normalize after β-normalizing to ensure that the newly-introduced bound variables get properly α-normalized.

This is bug in the Haskell implementation but not a bug in th

[2018-08-27 17:55] Gabriel439 commented on #553
I will put up a pull request later today.  The fix is easy and I've already hand verified that it works but I just need some time to codify the regression test

[2018-08-27 19:18] #547 closed

[2018-08-27 19:55] #548 closed

[2018-08-28 05:47] jneira commented on #553
@Gabriel439 That was a really quick fix! I've tested both cases (simple constructors and full dhall-to-cabal prelude) and they work fine.

[2018-08-28 20:01] #553 closed

[2018-09-01 08:51] ocharles opened #557 "Dhall.TH documentation header isn't formatted correctly"
At least, I assume https://hackage.haskell.org/package/dhall-1.17.0/docs/Dhall-TH.html isn't how the original author intended it to look.

[2018-09-01 15:14] Gabriel439 commented on #557
Fix up here: https://github.com/dhall-lang/dhall-haskell/pull/558

[2018-09-02 18:48] #557 closed

[2018-09-04 10:12] jneira opened #560 "Problem with hashed import of dhall file that uses the combinator operator"
Hi, testing an import of a dhall-to-cabal dhall file i've got this error when adding the combine operator (both // or ⫽) to the imported file  (maybe related with #533) :
[code]

The content of cache file `efc48c126d43519dbbf63ea49c81202958072f81800b134ac1f6f615e703a140` is
[code]

[2018-09-04 10:28] jneira commented on #560
With other operators work: `/\`, `//\\`, `#`

[2018-09-04 23:47] Gabriel439 commented on #560
It looks like the record was not correctly sorted before serialization, but it was sorted when being verified.  Here is what was serialized:

[code]

... which corresponds to `{ b = "b", a = "a" }`, which is not sorted.  Let me see if I can figure out why the fields are not sorted

[2018-09-04 23:58] Gabriel439 commented on #560
Alright, I've found the problem.  This is a bug in the specification (and therefore also a bug in the implementation which in this case is matching the spec)

The problem here is that when normalizing `a // b` Dhall has to merge the records *and then* normalize the merged record again to sort the fields.

I'll open pull requests soon to fix the spec and implementation in parallel

[2018-09-05 00:01] Gabriel439 commented on #560
I forgot to also explain why the verification failed.  The issue is that because of this bug normalization is not idempotent.  The first time you normalize `{ "b" = b } // { "a" = a }` you get `{ "b" = b, "a" = a }` and then that is what is cached, but then when it is loaded and normalized again it sorts the fields this time and gets `{ "a" = a, "b" = b }` which leads to a different hash

[2018-09-06 12:49] joneshf commented on #532
I see. I think I'm coming at this from the perspective of using Dhall as a programming language (rather than a configuration language). In that setting, the type diff isn't quite as helpful. It's interesting (but not unexpected) that making things better for configuration and making things better for programming are at odds with each other.

What about the other part of that proposal: a third leve

[2018-09-06 13:00] joneshf opened #561 "Can we improve import errors?"
I'm doing some file renames for dhall-bhat, and the error message for  missing imports can get a little confusing. For example:

[code]

The error message does give all of the information necessary to figure out the problem, but there's some hard things about it:
* The problem is in `./List/traversable`, but the last line–that says what the error is–doesn't mention `./List/traversable`. You have t

[2018-09-06 16:36] smurphy8 opened #562 "Don't auto replace with lambdas"
We are starting to use dhall for creating configurations for our customers.

It is so good!  Thanks for making it.

One thing I worry about being intimidating is the λ 's that appear everwhere as a reformat for `\`.

If there could be a reformat option to disable this replacement I think it would be good for people trying to use dhall with a non-fp audience.

I would be glad to help with it if som

[2018-09-06 17:34] smurphy8 commented on #562
An `--ascii` flag would be perfect!
If you haven't had a chance to get to it by the weekend I will take a shot!

Thank you!

[2018-09-07 16:53] Gabriel439 commented on #561
@joneshf: Yeah, this should be doable.

The only reason that the `MissingFile` exception doesn't have source information is because it is thrown from the `exprFromUncachedImport` function here:

https://github.com/dhall-lang/dhall-haskell/blob/b5c005ee2bd83f40deaec52e8a472c876d9db572/src/Dhall/Import.hs#L596

... and that function is only provided an `Import` argument without any source context.

[2018-09-09 10:40] f-f opened #568 "Make tests more language-agnostic"
I'd love to to possibly reuse *all* the tests from this implementation in [dhall-clj](https://github.com/f-f/dhall-clj), and in the end have a kind-of-agnostic shared test-suite to validate implementations on.
(current status: I'm using all the normalization an typecheck tests, and it's working great)

If this sounds like a good idea, I would like to:
- contribute new tests here ([I'm monitoring t

[2018-09-09 16:47] joneshf commented on #568
If you mean stuff like: https://github.com/dhall-lang/dhall-haskell/blob/b5c005ee2bd83f40deaec52e8a472c876d9db572/tests/Normalization.hs#L208-L231

I think that's checking contexts in Haskell. I think `simpleCustomization` is validating normalization for a single addition to the context. I think `nestedReduction` is validating normalization can "see through" multiple additions to the context. Assu

[2018-09-09 17:57] Gabriel439 commented on #568
I think the language-agnostic test files should probably be relocated to the `dhall-lang` repository since those can be viewed as part of the standard since they are conformance tests.  The exception would be test files for features that have not been standardized (like formatting code)

Most of the tests that are implemented in Haskell are due to them exercising non-standard features of the Haske

[2018-09-09 18:51] f-f commented on #568
@Gabriel439
+1 on moving the agnostic tests to `dhall-lang`

Right, I didn't consider that would mean standardizing the AST.
Some further options:
- We could have the tests there, but mark the AST as "non-prescriptive".
  Nothing else would depend on its format, and in general transforming it to a different AST should not be a big task (e.g. in your example it is easy to transform from `Annot (Lis

[2018-09-11 02:30] Gabriel439 commented on #532
@joneshf: Yeah, I understand that some people use Dhall as a "JSON for code" so that code can be transmitted and stored as a first-class value and I still try to support that use case

For the third level of reporting, the main issue is that the default level of reporting (i.e. Normal) still shouldn't show the prose diff by default because it would be too big for large configuration types.

[2018-09-11 11:45] joneshf commented on #532
Right, that's fine. I'm wondering if we can get a third level that isn't the default.

[2018-09-11 12:39] smurphy8 commented on #562
Awesome!  Thank you!

[2018-09-11 13:29] Gabriel439 commented on #532
@joneshf: My reasoning was that if Minimal were the default then nobody would want to use Normal and would always jump straight to Explain

[2018-09-11 13:38] #562 closed

[2018-09-12 06:10] jneira opened #573 "Overwhelming error output size for large expressions (f.e. using dhall-to-cabal)"
Hi, the output of an error includes the original resolved expression. For large expressions [like the generated by dhall-to-cabal](https://gist.github.com/jneira/3bde72e0be04721e58d4ad9eb6157521) the size is almost impossible to handle: it has 327.000 lines and 12.469.103 bytes

It seems to me that it is a dhall issue ad not a dhall-to-cabal one, sorry if i am wrong

[2018-09-12 06:16] jneira commented on #532
And what about include `-error-*` flags to enable/disable each of possible elements of the output: type diff, explanation, prose diff, and original expression (see #573)?
It adds complexity to the command line interface, though but it seems the possible outputs in a error are somewhat fixed.

[2018-09-12 07:15] jneira commented on #108
I am not an expert in parsers and maybe it's a no-sense, but could we make string interpolation and nested comments optional and use a faster parser (like happy?) in this case?

[2018-09-12 11:53] f-f commented on #573
This happens to us as well, with `dhall-kubernetes`

Maybe it'd be nice to have a new default minimal error level that cuts away the types over a certain level of nesting, and/or leaves out some things.

[2018-09-12 12:48] jneira commented on #573
@f_f Something similar was suggested in https://github.com/dhall-lang/dhall-haskell/issues/532#issuecomment-415389003.  Anothe option could be :

[2018-09-12 15:31] Gabriel439 commented on #573
I would suggest just omitting the context from the default output since the default output should be the minimal and concise version.  I just underestimated how large the context would get when I first designed the error messages

[2018-09-12 15:38] Gabriel439 commented on #573
Yet another possibility would be capping the output of each displayed expression.  There are several ways that we can limit and/or reduce the size of an expression such as:

* number of lines (i.e. cutting away the interior and replacing with `…`)
* depth (i.e. not showing more than N levels deep for things like nested records)
* common sub-expression elimination using `let` (i.e. computing the se

[2018-09-12 15:58] Gabriel439 commented on #108
@jneira: I think we can get this fast enough while still using `megaparsec`.  There are a lot of inefficient idioms in the parser code that are due to previously using `parsers` (which didn't support high-efficiency primitives and I'm not sure why) and then translating that code directly to `megaparsec` without taking advantage of the high-efficiency primitives that `megaparsec` does provide.  You

[2018-09-12 20:46] jneira commented on #108
Thanks for the explanation, i'll try to take a look at what you've pointed out

[2018-09-13 18:50] w3rs opened #574 "Is there a wildcard for pattern matching?"
I'd like to be able to do something like this:
[code]
I guess currently I have to list all possible cases, correct?

[2018-09-15 03:00] Gabriel439 commented on #574
Related comments:

* https://github.com/dhall-lang/dhall-lang/issues/164#issuecomment-395400874
* https://github.com/dhall-lang/dhall-lang/issues/169#issuecomment-396079351

Yes, you currently have to specify all possible cases.  In the above comments a `wildcard` keyword was suggested to turn a handler into a record of handlers that you could selectively override.

The only reason I haven't made

[2018-09-15 13:35] Gabriel439 commented on #574
@w3rs: Could you go into more detail about how you would use union equality?  Specifically, I'm interested in the use case where you only want to check for a match against one alternative.

The main reason I haven't added list comprehensions yet is that I'd like to do it in such a way that it can support `do` notation more generally (so that you could also have `Optional` comprehensions).  I have

[2018-09-15 19:49] w3rs commented on #574
It's in the end of my snippet. I used `(==)`, but those can be replaced with `isTest` and similar predicates.
[code]

Without `(==)`, I could define `isX` family, e.g.:
[code]

[2018-09-16 00:38] Gabriel439 commented on #574
@w3rs: One way to do this without making any changes to the language would be restructure the `Task` type to make useless tasks unrepresentable:

[code]

That won't necessarily scale in the more general case, but my inclination here is that we should be pushing runtime validation failures into type-checking failures, improving Dhall's type system if necessary.

[2018-09-16 07:46] #574 closed

[2018-09-16 09:50] f-f opened #580 "Performance issues with many deeply nested imports"
One of the examples in the `dhall-kubernetes` repo ([this one](https://github.com/dhall-lang/dhall-kubernetes/blob/import-hash-bug/examples/deployment.dhall) - if you'd like to test it note that it's on a separate branch) takes roughtly 25s to evaluate on my machine.
It is not a big deal for me, but after showing it in [the talk's demo](https://twitter.com/fabferrai/status/1040523416112128000) the

[2018-09-16 12:47] f-f opened #581 "Include Prelude as submodule"
Right now we have two distinct copies of Prelude: one in this repo and another in its own repo.
Since new developments happen on the dedicated repo, the two copies will get out of sync ([this has happened already](https://github.com/dhall-lang/Prelude/pull/9#issuecomment-419516143))

To prevent syncing issues we should include that repo as a submodule, but Hydra doesn't like that at the moment, as

[2018-09-16 12:51] f-f commented on #518
How about adding a `--sort` flag to `dhall format`?

[2018-09-16 13:29] quasicomputational commented on #580
Minimising the re-typechecking/normalising we do is a very worthy goal. This might also help `dhall-to-cabal` significantly.

[2018-09-16 13:37] f-f commented on #568
As we agreed above, we should move the conformance tests (so far they are `normalization` and `typecheck` tests) to the `dhall-lang` repo.
Since they import the Prelude through local imports, we'll have to:
- add the Prelude as submodule in `dhall-lang`
- add `dhall-lang` as submodule of this repo

We cannot have submodules in here yet (see #581), so we should fix that before proceeding with movin

[2018-09-16 13:58] f-f commented on #568
About a possibly not-agnostic test in the `normalization` suite:

[This expression](https://github.com/dhall-lang/dhall-haskell/blob/master/tests/normalization/examples/Natural/fold/1A.dhall) is supposed to be normalized to [this one](https://github.com/dhall-lang/dhall-haskell/blob/master/tests/normalization/examples/Natural/fold/1B.dhall):
[code]

However, my implementation normalizes it to:
[co

[2018-09-16 14:29] f-f opened #582 "Adding import hashes makes import fail"
I was demonstrating to someone - using `dhall-kubernetes` - how one can add hashes to imports so they get cached, but adding hashes makes importing fail.

I pushed my setup [here in this branch](https://github.com/dhall-lang/dhall-kubernetes/tree/import-hash-bug) (at first I added the hash by hand, but for the stuff in this branch I used `dhall freeze`).
If you clone the repo, checkout that branch

[2018-09-16 14:54] Gabriel439 commented on #568
@f-f: Actually, the issue here is that the standard doesn't specify whether the operators are left- or right-associative when they are not explicitly parenthesized.

The reason that the Haskell implementation is returning `5 * 5 * 5 * zero` is because it is parsed as:

[code]

... whereas the Clojure implementation is (I'm guessing) parsing it as:

[code]

... and only the latter form simplifies t

[2018-09-16 15:34] sellout commented on #574
Re: this point in particular – I would love something that didn’t bake too much into the language about what a “monad” is, etc. E.g., with #563, FormationAI/dhall-bhat will have a poly-kinded `./Monad` class. The minimal thing I can think of to enable `do`-like support would be some primitive that would somehow make it possible to implement “Traversable” for records. Then a file like
[code]
Then,

[2018-09-16 15:42] sellout commented on #580
This may be my fault. I made a couple changes a number of months ago that
1. cached imports more reliably and
2. pre-normalized an import when caching.

At the time, for my use cases, pre-normalizing sped things up like 10×. I don’t recall exactly where the benefit came from – perhaps just pre-resolving would give us the same benefit? Or maybe it’s just different styles of import patterns (but I f

[2018-09-16 15:47] sellout commented on #518
@f-f I would prefer a flag like `--discard-field-order` or something, only because the phrasing of “sort” makes it sound like Dhall is doing extra work, rather than less.

The performance impact of InsOrdHashMap is significant, and I would _love_ to be able to turn it off in places where humans are not the target of the output.

[2018-09-16 16:04] Gabriel439 commented on #574
@sellout: The way I did this in `annah` was that `do` notation built up a free monad and then a `Monad` was defined as:

[code]

This parallels the way that `Monoid` is defined in the Prelude:

[code]

In other words, if a `Monoid` is defined as a fold of the free monoid, then a `Monad` is defined as a fold of the free monad

So, for example, if you wrote something like:

[code]

... then `example

[2018-09-16 16:32] Gabriel439 commented on #580
@f-f: Have you tested what performance you get when you don't prenormalize imported expressions?

Really, the only optimal solution is to implement something like Lamping's algorithm.  Anything short of that will always have the issue of either (A) duplicating work due to substituting expressions that haven't been normalized yet or (B) doing more work than necessary by normalizing unused sub-expre

[2018-09-16 16:35] Gabriel439 commented on #518
It's still not clear to me what is the use case for sorting the fields

[2018-09-16 17:04] sellout commented on #518
For me, just performance. I forget the numbers, but it was significantly faster when I had a branch that didn’t use InsOrdHashMap.

Actually, what I had wanted to propose at the time was to abstract over a record of map operations, and `dhall` could implement it with `InsOrdHashMap`, and I would use a different `Map` in my Haskell code. I don’t think I need the application itself to add sorting.

[2018-09-16 17:10] joneshf commented on #518
If we're talking "always sort alphabetically and never retain insertion order," we could drop the dependency on `lens`. End users of the dhall binary aren't really affected by it. Anybody using `dhall` as a dependency is. That dependency on `lens` sometimes is the difference between CI building or timing out (depending on CI and time limits).

[2018-09-16 17:13] Gabriel439 commented on #518
@joneshf @sellout: If performance and dependencies are the issue, maybe we can use a simpler internal replacement to `InsOrdHashMap` that is just `Data.Map` + a list of the original keys in order

[2018-09-16 18:28] Gabriel439 commented on #582
Initial fix up here: https://github.com/dhall-lang/dhall-haskell/pull/584

[2018-09-16 19:44] f-f commented on #568
@Gabriel439 you're right, this is the AST I get from the parse:
[code]

+1 for left associativity by default.

I just realized I assumed everything was left-associative (as function application is left associative in the haskell implementation, though now I'm not sure anymore if I read anything relevant in the standard)

[2018-09-16 20:42] Gabriel439 commented on #568
@f-f: In the case of function application it is definitely supposed to be left-associative, just like in Haskell

[2018-09-16 20:48] f-f commented on #580
@Gabriel439
With the latest master a funny thing happens: I `time` the execution and bash says that only 7 seconds were spent on program execution, while the "actual" time passed is 23s

[code]

But if I run it again the execution time is also the real time:
[code]

With 1.17 the "real time" was consistently 25s (I guess I should bisect when this "fix" happened, but it's a good change so I skipped

[2018-09-16 20:53] Gabriel439 commented on #580
@f-f: Yes, it is absolutely possible that the parser is such a bottleneck.  It's way slower than it should be.  For reference, the pathological example in #108 still takes on the order of 50 microseconds per character parsed, which is very slow

[2018-09-17 15:58] f-f opened #586 "Add encode/decode commands"
It would be useful to have a `dhall encode` or `dhall serialize` command (and I guess a complementary `decode/deserialize`), to output the binary representation of an expr.

Use cases:
- "conformance tests" for other implementations (e.g. checking that the binary representation is the same)
- caching outside of the builtin import-hash-cache
- sending Dhall exprs as binary, etc.

[2018-09-18 04:13] Gabriel439 commented on #586
Pull request up here: https://github.com/dhall-lang/dhall-haskell/pull/588

[2018-09-18 05:01] Gabriel439 commented on #573
Pull request up here: https://github.com/dhall-lang/dhall-haskell/pull/589

Let me know if that improvement is enough for you or if you also need me to reduce the size of the displayed context, too.

[2018-09-18 06:29] jneira commented on #573
I am afraid that the input is not truncated using `dhall < file.dhall`. I've do some tests in ghci:
[code]
(the weird chars are displayed in a windows dos console)

So it seems `Dhall.input` shows the truncated version but `throwIO (TypeError Src X)` doesn't.

[2018-09-18 06:59] jneira commented on #573
(I've deleted a comment with a false negative)
I've test the output for a simple dhall input and it is truncated:
[code]
(the weird chars are displayed in a win dos console)

However, testing it with a dhall-to-cabal file still prints the large output:
[code]

[2018-09-18 07:06] jneira commented on #573
Otoh, not sure if the truncated output could be useful cause the error location probably will be out of the range printed. Could we let users have more fine grained control over the elements printed and/or its size?

[2018-09-18 15:33] Gabriel439 commented on #573
@jneira: I'm trying to avoid adding lots of flags to tweak the error output because the users that will need those flags the most are new users and they won't even know the flags exist.  Also, in general, I feel like the interpreter should do the right thing out-of-the-box and have sensible defaults

Which part of the `dhall-to-cabal` output is the largest part at the moment?  I can apply similar

[2018-09-18 15:33] #586 closed

[2018-09-18 17:11] f-f commented on #580
Update: I went a bit more into the rabbit hole.
@phadej suggested me to implement the `Monad` instance by hand for our `Parser`, to inline `>>=` (which according to the profiling is eating 36% of the execution time).

So I did that, and that *does* work: on the profiled version the execution time goes from `32s` to `23s`.
However, the non-profiled version is not affected, and the exec time stays a

[2018-09-18 18:16] f-f commented on #580
Memory profiling:

[code]

Nothing particularly interesting from these graphs (memory usage is constant, all good), except one notable aspect: parsing seems to be done around second `3.0`, and from there the program works with the objects it has.
This seems to again point the bottleneck at whatever happens after parsing:

<img width="1337" alt="image" src="https://user-images.githubusercontent.com

[2018-09-18 20:04] Gabriel439 commented on #580
@f-f: There is a very easy way to verify by just using `dhall format` (which only does parsing and pretty-printing).  If parsing is not the bottleneck then it should be much faster.

Similarly, you can do `dhall resolve` to do only parsing and import resolution

[2018-09-18 20:07] Gabriel439 commented on #580
@f-f: However, from looking at that heap profile map my intuition is that this block of code is responsible for the performance slowdown:

https://github.com/dhall-lang/dhall-haskell/blob/d8e076c6da232267d0a2bb611cde124cc912c4f7/src/Dhall/Parser/Expression.hs#L160-L221

It's having to traverse all of those function calls every time it parses a token, plus `makeOperatorExpression` might be implemen

[2018-09-18 20:08] Gabriel439 commented on #580
Also, `noted` is responsible for a significant chunk of the running time, but I have a work-in-progress pull request to fix that (for real this time), which should approximately double throughput

[2018-09-19 13:47] joneshf commented on #476
@ocharles trying to follow along, but the above link tracks the `master` branch and I think it has changed (it starts in the middle of one value and continues over two more that seem unrelated).

If it has changed, is this the original link: https://github.com/dhall-lang/dhall-to-cabal/blob/86189af0870e56b5b66cd837a55d02724fce273a/lib/DhallToCabal.hs#L647-L739? I think it is by the dates, but want

[2018-09-20 00:33] Gabriel439 commented on #573
Actually, it turns out that it's not easy to parametrize the error message on the command line flag because it's part of a type class instance, so I'll just have to resign to always using ASCII, instead of fancy scissors 😢

I'm going to also apply the same "snip" to the expressions in the context and the `--explain` output

[2018-09-20 02:15] Gabriel439 commented on #573
@jneira: Alright, try the pull request now.  It should now also snip type-checking contexts and the code inserts for detailed errors.  For example, this code:

[code]

... produces this error message:

[code]

[2018-09-20 05:48] jneira commented on #573
@Gabriel439 it seems that use of `let` makes dhall prints the type of the entire expression(???).
[code]

[2018-09-20 06:03] jneira commented on #573
With dhall-to-cabal:
[code]
The output is truncated now, thanks!
However it has several "cuts" and not sure if the printed expression is clear

[2018-09-20 15:31] #573 closed

[2018-09-23 03:28] joneshf opened #596 "How to work with De Bruijn indexes?"
I'm writing a program that takes a Dhall expression and compiles it to another language. This language does not support accessing shadowed variables. So, if there is a Dhall expression like:

[code]

Something has to be done to make that work. What's the correct way to deal with this? It sounds like renaming all bound variables is what's necessary, but each time I try to implement it it doesn't wo

[2018-09-23 04:58] Gabriel439 commented on #596
@joneshf: It's going to be very similar to how α-normalization works, except that instead of renaming each variable to `_` you will be renaming each variable to some globally unique name.

See: https://github.com/dhall-lang/dhall-lang/blob/master/standard/semantics.md#%CE%B1-normalization

For example, this is the judgment for renaming a variable named `x` to `_` when `x` is not `_`:

[code]

If y

[2018-09-23 15:36] joneshf commented on #596
Thanks, that make sense!

And it worked too :tada:!

[2018-09-23 15:36] #596 closed

[2018-09-23 18:17] Gabriel439 commented on #596
You're welcome! 🙂

[2018-09-23 18:43] f-f commented on #596
Right, the example expression is broken in my implementation as well so I guess the easiest way to go is to implement a "parametric" α-normalization for it? 🤔

@Gabriel439 actually would it make sense to "unexpose" De Bruijn indices?
Access to the shadowed variable would be lost, but it's easily fixed by renaming the variable (that is, it's not a critical loss for the user IMO).
OTOH implementatio

[2018-09-23 18:55] Gabriel439 commented on #596
@f-f: It wouldn't make it easier to implement the language.  A conforming implementation has to support α-normalization to power both equivalence checking and also for semantic integrity checks and α-normalization requires support for De Bruijn indices.

[2018-09-25 02:14] Gabriel439 commented on #108
I recently contributed some low-hanging improvements that improve parsing of various bulk elements (i.e. string literals, whitespace, identifiers) which improve the performance alot for token-sparse code, but the parser is still not where it needs to to be for token-dense code.

Based on some performance tests when parsing a minimalist lambda calculus using both `attoparsec` and `megaparsec`, the

[2018-09-25 16:40] sellout opened #598 "Don’t `sortMap` during β-normalization."
With the addition of `sortMap` to `normalizeWith` in https://github.com/dhall-lang/dhall-haskell/commit/9ac11a574179b307a74055ccf3e9c7fdbc176b5d, `normalizeWith` sorts records and unions, and we’re spending about 20% of our time in `dhall` in `sortMap`.

Since the sorting is intended to make the hashing consistent, it seems like this sorting should be applied in `Dhall.Binary.encode` instead of `n

[2018-09-25 17:33] sellout commented on #598
https://github.com/dhall-lang/dhall-haskell/issues/518#issuecomment-421798115 would also probably mitigate the performance issue, but it still seems like `Dhall.Binary.encode` is the right place to do this.

[2018-09-25 22:49] Gabriel439 commented on #598
I view this as a performance optimization to be made, but I don't think we should deviate from the standard.  I think the right behavior is sorting fields when β-normalizing records as the standard specifies, since a normal form should be a canonical form.

[2018-09-26 01:51] sellout commented on #598
Ah, ok.

Well, then the switch to `(Map Text Expr, [Text])` seems like something we should do anyway, and should at least somewhat improve the performance here.

[2018-09-26 01:57] Gabriel439 commented on #108
So I did both runtime profiling and heap profiling before and after the change and the most notable difference is that removing support for parsing builtins leads to 4x the heap usage (5 MB heap size before and 20 MB after the change)

Before:

<img width="1067" alt="screen shot 2018-09-25 at 6 49 30 pm" src="https://user-images.githubusercontent.com/1313787/46052567-dd77c500-c0f3-11e8-9cec-9e0b38

[2018-09-26 15:04] f-f commented on #580
After the latest parser optimizations from @phadej and @Gabriel439 we're down to somewhere around 6 secs (~25% improvement!), which is awesome:
[code]
Calling `dhall format` here doesn't help, since most of the stuff happens in imports (runs in no time).
Calling `dhall resolve` instead leads to a more interesting result:
[code]
But I guess even this doesn't really help, since `resolve` calls `load

[2018-09-27 00:36] Gabriel439 commented on #108
https://github.com/dhall-lang/dhall-haskell/pull/602 improves the heap utilization dramatically.  Here's the new heap profile:

<img width="1014" alt="screen shot 2018-09-26 at 5 36 06 pm" src="https://user-images.githubusercontent.com/1313787/46116813-acaa9500-c1b2-11e8-8190-28f3cdea0d46.png">

... and the corresponding performance gain is modest (~18%)

[2018-09-27 15:56] Gabriel439 commented on #108
I discovered that parentheses absolutely **KILL** performance.  Every pair of parentheses doubles the cost of parsing the expression in its interior.  For example, this tiny expression:

[code]

... takes over a minute to format.  I'm still investigating why this occurs.

[2018-09-27 16:12] Gabriel439 commented on #108
I found the root cause of that.  It's due to excessive backtracking induced by the `try` used when parsing function types here:

https://github.com/dhall-lang/dhall-haskell/blob/master/src/Dhall/Parser/Expression.hs#L106

If I comment out that alternative the parsing performance on this example (which doesn't use any function types) improves by 100x, which brings us exactly to the speed limit for

[2018-09-27 17:42] Gabriel439 commented on #108
The fix is up here: https://github.com/dhall-lang/dhall-haskell/pull/606

The original file now takes only 5 ms to parse after the fix

[2018-09-27 18:14] Gabriel439 commented on #108
Also, just in case people are curious, here is the new heap profile:

<img width="1025" alt="screen shot 2018-09-27 at 11 11 38 am" src="https://user-images.githubusercontent.com/1313787/46165743-3d7e8080-c246-11e8-8506-d2ef02e13bd1.png">

It's still roughly the same maximum residency, but now compressed in time

Also, the new profiling indicates that parsing is no longer the overwhelming bottlene

[2018-09-28 11:49] jneira commented on #580
In case it can be useful, this is the profiles of a dhall-to-cabal file after the parsing improvements of #606:
* `dhall +RTS -p < dhall-to-cabal.dhall`
[code]
* `dhall resolve +RTS -p < dhall-to-cabal.dhall`
[code]
* `dhall format +RTS -p < dhall-to-cabal.dhall`: similar profile to `dhall resolve` but
[code]

[2018-09-28 13:51] #108 closed

[2018-09-28 13:57] f-f commented on #580
Fixed in #606

[2018-09-28 13:57] #580 closed

[2018-09-28 13:58] michalrus opened #609 "Integrating with external parsers of type `Text -> Either String a` or similar"
Hey!

I wanted to define an `instance Interpret UUID`, so, looking at the types, I did this:

[code]

And the happy path works nicely, but if the user supplies an incorrectly formatted Text, we’re getting:

[code]

How to go about this? Thank you! =)

[2018-09-28 17:11] Profpatsch commented on #609
There really is a fixed set of types that dhall supports.

I tried doing something like this myself, but it’s impossible to achieve this way (exactly because you can’t implement a sensible version of `Type`’s `expected`, since there is no dhall `Expr` literal for your custom type).

See https://github.com/dhall-lang/dhall-lang/wiki/How-to-add-a-new-built-in-function for a tutorial on adding custom

[2018-09-28 17:13] Profpatsch commented on #580
So not really fixed? cc @f-f

[2018-09-28 19:54] jneira commented on #580
@Profpatsch my bad, the comment should be in #598 (or elsewhere) and not here

[2018-09-28 20:33] Gabriel439 commented on #609
@michalrus: This issue looks very similar to https://github.com/dhall-lang/dhall-haskell/issues/387, which is about providing a way to customize the error message returned by Dhall when `extract` fails

[2018-09-29 11:59] f-f commented on #580
@Profpatsch as I mentioned in https://github.com/dhall-lang/dhall-haskell/pull/606#issuecomment-425192979 the problematic expression from this issue now runs in ~1s (8-10x improvement on the original running time), as the parsing was the real bottleneck here

I think #412 is the issue which is most relevant to the (different) `dhall-to-cabal` hotspots

[2018-09-29 22:29] michalrus commented on #609
@Profpatsch I seeee, mhmmm, thank you.

@Gabriel439 But there you write:

However, this issue seems a bit different, then, right? I can’t make `expect` expect `Text`s only in UUID format. So a detailed error message (including path), as @ocharles suggests, would be beneficial in this case. Or is the reasoning flawed?

[2018-09-29 22:43] Gabriel439 commented on #609
@michalrus: I would be fine allowing the user to customize the error message via the API

[2018-09-30 05:04] Gabriel439 commented on #598
@sellout: Here's a very rough branch with a custom ordered map implementation in a new `Dhall.Map` module:

https://github.com/dhall-lang/dhall-haskell/tree/gabriel/new_map

Could you give that a try and see if it improves performance for your use case?

[2018-10-03 10:47] FintanH opened #617 "dhall resolve doesn't respect relative directories"
Working off of d1e8fde9c081122147db5cf443f7651c0430d71a

### Directory structure:
[code]

### dub
[code]

### num
[code]

### Error
Running `dhall freeze --inplace "./test/num"` the following error is produced:
[code]

## EDIT
Actually this isn't really `freeze`s fault. This is down to resolution.
Running `cat ./test/num | dhall resolve` we get the same error as above

[2018-10-03 12:06] f-f commented on #617
Oh, thank you for opening this 👏
I discovered roughly one month ago that we have the same issue with `dhall-kubernetes` (e.g. [this file](https://github.com/dhall-lang/dhall-kubernetes/blob/master/api/Deployment/mkDeployment)) but I totally forgot to open an issue about it.

[2018-10-03 13:05] FintanH commented on #617
@f-f Heh, for sure! I'm gonna try fix it now. We want to get caching working so first step is to get freezing working :grin:

[2018-10-03 14:35] FintanH commented on #617
Seems that the import is using `Local Here` for some reason:
[code]

[2018-10-03 15:42] FintanH commented on #617
It seems that `loadWith` doesn't realize we've gone an extra directory down the tree.

[2018-10-03 16:14] FintanH commented on #617
I'm starting to realize the underlying issue here. So when we do `cat ./test/num | dhall resolve` the `cat` turns the expression into `{ dub : ./dub }`. Then `dhall resolve` sees `./dub` and assumes it's in the same directory as the call. This isn't the case so we've lost information. I think this is the correct behavior. The INCORRECT behavior is loading the file when doing the `freeze` so I'll t

[2018-10-03 16:31] FintanH commented on #617
@f-f Can you try use https://github.com/FintanH/dhall-haskell/tree/fintan/fix-freeze and see if it works for you? Make sure to have a copy just in case :grimacing: Also it seems it needs to be `./example/deployment.dhall`. Need to figure out why it needs that relativity

[2018-10-03 16:40] f-f commented on #617
@FintanH you're right, your branch:
- nukes the file if I don't specify the `./`
- if I do specify it, then it replaces the content with an import to itself, protected by some sha 😄

[2018-10-03 16:42] FintanH commented on #617
I think the second point is actually what we want, right? Because if you run it through `dhall` it loads it from the cache. @Gabriel439 can you confirm?

[2018-10-03 16:44] f-f commented on #617
But that would lose whatever content is in the file, so I cannot edit it anymore, ever; what `freeze` should do is to replace any import inside a file with the same import with a hash attached to it.

[2018-10-03 16:47] FintanH commented on #617
Ahhhh right. I'll get on it :joy:

[2018-10-03 17:00] FintanH commented on #617
I need some way of forcing only one level of resolution so that I can then walk the imports in the input file :thinking:

[2018-10-03 18:45] Gabriel439 commented on #617
@FintanH: In the Haskell REPL you can do `traverse exprFromImport` since an `Expr` is `Traversable`

[2018-10-03 19:27] FintanH commented on #617
Thanks, I'll give it a look tomorrow :ok_hand:

[2018-10-03 20:58] FintanH commented on #617
I was taking a look because of obsessive brain. I'm not sure I can come up with a solution using what's already there. I think some functionality akin to the `Dhall.Import` functions might be needed.

[2018-10-04 04:01] Gabriel439 commented on #617
Fix up here: https://github.com/dhall-lang/dhall-haskell/pull/619

[2018-10-04 04:03] Gabriel439 commented on #617
Also, note that this is not an issue with import resolution per se.  For example, `dhall < ./foo/bar` has intentionally never correctly resolved imports relative to `./foo/bar` correctly because it can't know that standard input came from that file path (or that it even came from a file at all).  This is why you always should do `dhall <<< './foo/bar'` instead.  See:

https://github.com/dhall-lang

[2018-10-04 09:05] FintanH commented on #617
Ya, I realized this after the face :flushed: Thanks for the fix!

[2018-10-04 12:56] #617 closed

[2018-10-04 12:56] Gabriel439 commented on #617
You're welcome!

[2018-10-06 11:33] joneshf commented on #561
I haven't forgotten about this issue :slightly_smiling_face: (though I did forget to respond).

Thanks for the explanation! I think I'll probably hop on it the next time I get hit by it.

[2018-10-08 07:14] Michael-Kateregga opened #626 "Remove quotes"
How can I remove comments from a string given that dhall is typed e.g. "foo" -> foo?

[2018-10-08 07:47] f-f commented on #626
@Michael-Kateregga do you have an example of how you'd want to remove the quotes?

In general you could use `dhall-to-text` to output strings. E.g.:

[code]

[2018-10-08 08:19] Michael-Kateregga commented on #626
Yes that works fine in bash, same as dhall-to-bash, do you know how I would use these executables inside inside dhall repl?

Reason: I need to create a config of the sort:

    \(fun : Text) ->
let concat = https://ipfs.io/ipfs/QmQ8w5PLcsNz56dMvRtq54vbuPe9cNnCCUXAQp6xLc6Ccx/Prelude/Text/concat
in let flink = "https://ipfs.io/ipfs/QmQ8w5PLcsNz56dMvRtq54vbuPe9cNnCCUXAQp6xLc6Ccx/Prelude/List"
in let

[2018-10-08 10:15] Michael-Kateregga commented on #626
@f-f  and @Profpatsch thank you for your responses, @Profpatsch importing the whole Prelude will allow me do, for instance:

let Prelude = https://ipfs.io/ipfs/QmQ8w5PLcsNz56dMvRtq54vbuPe9cNnCCUXAQp6xLc6Ccx/Prelude/package.dhall in
Prelude.`List`.map …

which is great. This will work just fine. Thank you!!

[2018-10-08 10:19] Michael-Kateregga commented on #626
I actually get error 404 when I do:

let Prelude = https://ipfs.io/ipfs/QmQ8w5PLcsNz56dMvRtq54vbuPe9cNnCCUXAQp6xLc6Ccx/Prelude/package.dhall in
Prelude.List.map …

[2018-10-08 10:35] jneira commented on #626
I think you can try the url https://raw.githubusercontent.com/dhall-lang/dhall-haskell/master/Prelude/package.dhall

[2018-10-08 10:35] f-f commented on #626
@Michael-Kateregga yes, the Prelude official location has moved from IPFS to Github: https://github.com/dhall-lang/Prelude

[2018-10-08 10:50] Michael-Kateregga commented on #626
Thanks guys but I tried the following and still didn't succeed:

let x = https://github.com/dhall-lang/Prelude/package.dhall in x.`List`.map Natural Bool Natural/even [4,7,9,2]

I should get [True, False, False, True] as output.

[2018-10-08 11:06] Michael-Kateregga commented on #626
Hi All, this works fine:

    let prelude = https://ipfs.io/ipfs/QmcTbCdS21pCxXysTzEiucDuwwLWbLUWNSKwkJVfwpy2zK/Prelude/List/map
in prelude Natural Bool Natural/even [4,7,9,2]

[2018-10-08 12:33] Michael-Kateregga commented on #626
Sorry guys for coming back on this issue.
I just wanted to why this works:

https://ipfs.io/ipfs/QmcTbCdS21pCxXysTzEiucDuwwLWbLUWNSKwkJVfwpy2zK/Prelude/List/map Natural Bool Natural/even [4,7,9,2]

or this

https://raw.githubusercontent.com/dhall-lang/Prelude/302881a17491f3c72238975a6c3e7aab603b9a96/List/map Natural Bool Natural/even [4,7,9,2]
but this doesn't yet they are the same links:

https:/

[2018-10-09 10:37] Profpatsch commented on #626
@Michael-Kateregga https://github.com/dhall-lang/Prelude/tree/master/List/map points to an HTML-page (the Github UI), not a dhall file. Whay you want is the raw version at https://raw.githubusercontent.com/dhall-lang/Prelude/master/List/map.

[2018-10-09 10:44] Michael-Kateregga commented on #626
Thanks @Profpatsch.

I managed to do the following:

so I just established the config:

{ `Bool` =

https://raw.githubusercontent.com/dhall-lang/dhall-haskell/master/Prelude/Bool/package.dhall
, `Double` =

https://raw.githubusercontent.com/dhall-lang/dhall-haskell/master/Prelude/Double/package.dhall
, Function =

https://raw.githubusercontent.com/dhall-lang/dhall-haskell/master/Prelude/Function/p

[2018-10-09 12:06] jneira commented on #626
Yeah, it already exists! :smile:
[code]

[2018-10-09 12:15] Michael-Kateregga commented on #626
@jneira thanks but that doesn't work for me for some reason. I think there is an issue with the ...deps/Prelude/Optional/concat file.

When I run your command I get the following error:

↳ https://raw.githubusercontent.com/dhall-lang/dhall-haskell/master/Prelude/package.dhall
  ↳ https://raw.githubusercontent.com/dhall-lang/dhall-haskell/master/Prelude/Optional/package.dhall
    ↳ https://raw.gith

[2018-10-09 12:27] Michael-Kateregga commented on #626
@jneira yes that's right. I'm using v1.17.0. Ok great I will just comment it out for now.
Thanks a stack!

[2018-10-09 12:43] jneira commented on #626
You are welcome! and thanks for trying dhall
Just for completeness,
[code]
should work as-is with your dhall executable

[2018-10-09 12:45] Michael-Kateregga commented on #626
Thanks @jneira yes its fine.

[2018-10-09 12:45] jneira opened #627 "Include windows precompiled binaries in releases"
For the tortured souls who use it :stuck_out_tongue_closed_eyes:
I could compile it in my windows 10 laptop

[2018-10-09 12:50] Michael-Kateregga commented on #626
@jneira I noticed these imports are not snappy speed-wise.

[2018-10-09 13:03] jneira commented on #626
You can make dhall saves a cache version of the prelude adding the sha256 of the file imported (and dhall does it for you with `dhall freeze`) so succesive uses of the imported file will be faster (i am on windows):
[code]

[2018-10-09 16:15] Gabriel439 commented on #626
@Michael-Kateregga: Also, if you use the version on `master` it is much faster in general.  I will be cutting a new release soon

[2018-10-10 05:42] Michael-Kateregga commented on #626
@Gabriel439  when I use the master i.e.

https://raw.githubusercontent.com/dhall-lang/dhall-haskell/master/Prelude

That's when I get the error:

↳ ./Prelude_config_repo2
  ↳ https://raw.githubusercontent.com/dhall-lang/dhall-haskell/master/PreludeHttpExceptionRequest Request {
  host                 = "raw.githubusercontent.com"
  port                 = 443
  secure               = True
  request

[2018-10-10 06:01] Michael-Kateregga commented on #626
@Gabriel439 Ok I get it now, https://raw.githubusercontent.com/dhall-lang/dhall-haskell/master/Prelude leads to directories yet https://raw.githubusercontent.com/dhall-lang/Prelude/v2.0.0/package is the actual explicit file.

[2018-10-10 06:07] Michael-Kateregga commented on #626
@jneira the sha256X hashing is amazing, the import is extremely fast now. Thanks!!!!

[2018-10-10 06:30] #626 closed

[2018-10-10 06:39] Michael-Kateregga opened #628 "What could be some of the key advantages of using dhall config language to Haskell's Data.ConfigFile?"

[2018-10-10 07:00] Michael-Kateregga commented on #628
I just landed on this http://www.haskellforall.com/2018/01/dhall-survey-results-2017-2018.html

[2018-10-10 12:56] jneira commented on #628
There is a issue in the main dhall-lang project with some insigths that maybe could be applicable: https://github.com/dhall-lang/dhall-lang/issues/216

[2018-10-10 15:11] FintanH opened #630 "dhall thaw"
I ran into a workflow issue while using `dhall freeze` with our configs.

1. Ran `dhall freeze` to freeze all files
2. Had to merge changes that were upstream
3. Now files didn't compile due to caching and difference in a record
	* A field was added (due to the merge) post-freeze which was not present in the cached version
4. Deleted cache to see that integrity checks were mismatching

Thus, I nee

[2018-10-10 15:35] jneira commented on #630
And what about if `dhall freeze` itself would update the existent hashes?

[2018-10-10 15:58] FintanH commented on #630
I feel like I'd be happy with that, because you mostly want the compile to fail if the integrity check failed. You want the freeze to always freeze the current state.

[2018-10-10 16:39] FintanH commented on #630
One workaround is via `find . -type f | xargs sed -i -r 's/ sha256:[a-f0-9][a-f0-9]*//g'`

[2018-10-10 17:13] Gabriel439 commented on #630
Yeah, I agree that the ideal behavior is that `dhall freeze` just ignores any existing hashes and updates all of them.

[2018-10-10 20:15] joneshf commented on #630
Both sound useful! It seems like there's still a case for something like `dhall thaw`. Sometimes you do want to throw out the shas. It can be useful so other commands and executables can work. It can also be useful when going between `dhall` versions (as the algorithm changed recently).

I guess in both of those cases, there are different things that could happen: allow other commands/executables

[2018-10-11 02:14] sellout commented on #630
I don’t have strong feelings on this, so feel free to disregard, but it seems like one might want more fine-grained control. I.e., not have `freeze` just update all hashes. I could see this being like `freeze` adds hashes to un-hashed things (the current implementation, yeah?), so you can selectively remove shas, then freeze, updating only thase. If you want to re-hash everything, you need to eith

[2018-10-11 05:15] Michael-Kateregga commented on #628
Thank you @jneira

[2018-10-11 09:13] Michael-Kateregga opened #631 "How to map over a list of records with different record entry names"
I am trying to do the following:
--
    let map = https://raw.githubusercontent.com/dhall-lang/Prelude/v2.0.0/package.dhall

in let some_fun = \(x : Text) -> \(y : Text) -> {x = x , y = y}

in let path = "git@github.com:somebranch/"

in let gitbranch = \(x : Text) -> \(y : Text) -> some_fun (path ++ x) y

in let another_fun = \(z : {x : Text, y : Text}) -> gitbranch z.x z.y

in let result = map.`L

[2018-10-11 10:15] jneira commented on #631
Hi, a common solution (discussed in #234 f.e.) that maybe fits your need is use assoc lists instead maps: `[ { key: Text, value: Text } ]` but you lose the type safety if you know that you have a known set of possible record types.
Not sure if a polymorphic function could help cause all elements of a list must have the same type. Of course you can have a function to each type or record but it coul

[2018-10-11 10:31] Michael-Kateregga commented on #631
Sorry I figured that all list entries must have the same type.

[2018-10-11 10:35] Michael-Kateregga commented on #631
@jneira thanks - yes a function to each type is where I started and was too much. Let me try out your suggestion.

[2018-10-11 20:29] f-f opened #633 "SHA256 is off"
Encoding a file with `dhall encode` and then hashing the contents with `openssl` gives the following hash:
[code]

However, `dhall hash` disagrees:
[code]

I believe something is weird with the hashing itself (rather then e.g. ast-to-cbor conversion), and I have some observations:
1. the binary data outputted by `dhall encode` and my implementation is exactly the same
2. the hash of the cbor-seria

[2018-10-11 21:36] f-f commented on #633
My bad: expressions are supposed to be `alphaNormalize`d before being hashed

[2018-10-11 21:36] #633 closed

[2018-10-12 02:10] Gabriel439 commented on #631
@Michael-Kateregga: Note that you can't even stick the two records in a list if they have different field names

However, even if you could store them in the same list, it's not clear how `another_fun` would know which record fields it was supposed to operate on.  In other words, how does it know that the `a1` field is supposed to be the `x` field and that the `a2` field is supposed to be the `y`

[2018-10-12 07:55] Michael-Kateregga commented on #631
@Gabriel439  yes you are absolutely right, the order in a record doesn't indeed matter. By the way does dhall support pattern matching?

[2018-10-12 09:54] Michael-Kateregga commented on #631
@Gabriel439 and @jneira
How do I delete
(i) a field from a record?
(ii) an entry from a list?

[2018-10-12 13:56] Gabriel439 commented on #631
@Michael-Kateregga: Dhall supports `merge` (a way to process the result of a union), but the syntax doesn't look like pattern matching.  See: https://hackage.haskell.org/package/dhall-1.17.0/docs/Dhall-Tutorial.html#g:12

There is no way to delete a field from a record.  There also is no (easy) way to delete an element from a list.  In general, the idiom is to emphasize "additive" programming, whe

[2018-10-12 14:05] Gabriel439 commented on #630
@joneshf: If the goal is to re-freeze then I think we can address that by having `dhall freeze` ignore existing SHAs when importing the values (which I think would be a fine default behavior).

@sellout: Note that having SHAs for multiple versions is currently a violation of the standard as the interpreter has to use one version consistently across the entire program.

The way I see it, then main

[2018-10-12 14:34] Gabriel439 commented on #630
@sellout: I think I misunderstood.  I assumed that you meant selectively updating dependencies to support them being imported using different versions of the standard but now I think what you mean is not updating them all for efficiency reasons (to avoid having to refetch all of them)

[2018-10-12 15:37] FintanH opened #635 "deprecate constructors"
Making an issue to mirror https://github.com/dhall-lang/dhall-lang/issues/244

I'm currently trying to tackle it right now and I'm running into a bit of a wall with understanding what I need to change. @Gabriel439 is there a workflow of how to update a change in the core language that you work by? For example, change `Parser` -> `TypeChecker` -> `Normalizer`. Or do you have some jumping off points

[2018-10-13 02:49] Gabriel439 commented on #635
@FintanH: In general I recommend trying to start with a change to the standard first before the Haskell implementation.

However, for both the standard and the Haskell implementation the main changes for each phase would be:

Phase 1: Overload the behavior of `.`

*   Change the type-checker (i.e. `Dhall.TypeCheck.typeWith` to add a new case for inferring the type of an expression using `Field` wh

[2018-10-13 02:51] Gabriel439 commented on #628
@Michael-Kateregga: To add to that, the main advantage when comparing to `Data.ConfigFile` specifically is that Dhall is a programming language so it provides features for reducing repetition in large configuration files.  This post explains when programming language features come in handy for configuration files:

https://github.com/dhall-lang/dhall-lang/wiki/Programmable-configuration-files

[2018-10-13 02:53] Gabriel439 commented on #627
@jneira: Yeah, feel free to do so.  You're a contributor so you have permission to attach binaries that you build to each release if you want.

In the long run what I would really like to do is to have CI build windows binaries using cross-compilation.  I'm just waiting for this work to get upstreamed so that we can have Dhall's CI build Windows binaries for every branch and every release:

https:

[2018-10-13 08:53] jneira commented on #635
Wow, imo that comment deserves to be in a relevant place

[2018-10-13 11:55] FintanH commented on #635
Thanks @Gabriel439! It makes sense that you'd change the standard first, but I'd like to battle test the implementation to see if this would help our use case first :)

I was starting what you mentioned, but was running into some issues. I'll see if I can figure out what's going on.

[2018-10-13 19:06] Michael-Kateregga commented on #631
Thank you @Gabriel439

[2018-10-14 13:19] ocharles commented on #631
Well, you can always "delete" a field by building a new record that omits
that field. Eg, \( a : { x : A, y : Y }) -> { y = a.y }

On Sat, 13 Oct 2018, 8:06 pm Michael-Kateregga, <notifications@github.com>
wrote:

[2018-10-14 15:10] Gabriel439 commented on #631
You can also use the support for projecting a subset of fields, too.  For example:

[code]

[2018-10-14 15:17] #630 closed

[2018-10-15 06:52] Michael-Kateregga commented on #631
@Gabriel439  and @ocharles - yes defining a function that builds a new record as a way of deleting functions works fine, thank you.

One more question, is it possible to change/replace the field name of a record e.g. {firstName = "Michael", lastName = "Kateregga"} to {middleName = "Michael", lastName = "Kateregga"}?

[2018-10-15 08:34] jneira commented on #631
Maybe it only would be possible wih dependent types, cause that function would map values to types, right?.

Using association list that would be possible but i guess you want to have the record type.

Actually i think @f-f did [something similar](https://github.com/dhall-lang/dhall-lang/issues/169#issuecomment-414916674) in two steps (using "macros" :stuck_out_tongue_closed_eyes: ):
1.- Create a

[2018-10-15 15:03] FintanH opened #640 "Better implemented Map operations"
I would argue that https://github.com/dhall-lang/dhall-haskell/blob/master/src/Dhall/Map.hs#L463 i.e.:
[code]

is wasteful work as `traverseWithKey` calls `toList` and `fromList` which isn't necessary. We could implement this as something more along the lines of:

[code]

I would also think that https://github.com/dhall-lang/dhall-haskell/blob/master/src/Dhall/Map.hs#L449 could perform better if i

[2018-10-15 15:29] Gabriel439 commented on #640
@FintanH: I think this should be added as a new `unorderedTraverseWithKey` since `Data.Map.traverseWithKey` does not preserve order

[2018-10-15 15:37] FintanH commented on #640
Ah of course. So my other thought, and I'm not sure if fusion is already doing this for us, is having traverseWithKey work like:

[code]

And I suppose the traverseWithKey_ case doesn't matter with order because we throw away results anyway?

[2018-10-15 15:43] Gabriel439 commented on #640
@FintanH: You'd also need an `unorderedTraverseWithKey_` because the user might use `traverseWithKey_` if they care about the order of effects.  For example: `traverseWithKey_ (uncurry print)`

I would prefer using `Data.Map.traverseWithKey` to power `unorderedTraverseWithKey` since that's less code that we have to maintain and it's likely to be efficient since it's a dedicated function from `Data

[2018-10-15 15:49] FintanH commented on #640
@Gabriel439: Fair point!

I can take some time this weekend and benchmark different implementations. Getting this right is part of getting performance with the many unions problem we're experiencing :grimacing:

[2018-10-16 06:51] jneira commented on #627
Hi, i have no experience making binary distributions or github releases so to confirm the steps:
* create a binary distribution: i guess that i only have to zip the win executable in a file named `dhall-1.18.0-x86_64-windows`
* attach the new binary to an existing release: it seems i would need a tool to use the github api (like https://github.com/aktau/github-release or https://github.com/tfausak

[2018-10-16 06:53] Michael-Kateregga opened #641 "Import resolution is disabled"
I wonder why I keep on getting "Import resolution is disabled" when I use dhall's compiler - dhall type. Does anyone know how I can fix this?

[2018-10-16 07:54] basile-henry commented on #627
`jneira` I don't think you need `github-release`, since you are a contributor here you should be able to go to https://github.com/dhall-lang/dhall-haskell/releases and click `Edit` next to `dhall-1.18.0`, you can then drop your binary to be distributed as part of the release. :smile:

[2018-10-16 08:44] basile-henry commented on #627
@jneira Ah alright, I thought you would have the permissions already. I have uploaded the windows binary for you from https://github.com/eta-lang/dhall-haskell/releases/tag/1.18.0

[2018-10-16 08:48] jneira commented on #627
@basile-henry thanks a lot! i think we can close this then (unless we want to track the future CI build with win binaries).

[2018-10-16 14:16] Gabriel439 commented on #641
@Michael-Kateregga: This is intentional.  Dhall has three phases for the interpreter:

* Import resolution (implemented by `dhall resolve`)
* Type-checking (implemented by `dhall type`)
* Normalization (implemented by `dhall normalize`)

Each phase implements one step exclusively.  So, for example, `dhall type` does not do import resolution.  You would need to chain it downstream of `dhall resolve

[2018-10-16 14:37] Gabriel439 commented on #581
Fixed in https://github.com/dhall-lang/dhall-haskell/pull/639 by using Dhall's import system to retrieve the Prelude

[2018-10-16 14:37] #581 closed

[2018-10-16 14:51] Michael-Kateregga commented on #641
Thanks @Gabriel439  :type or :t is great. I don't know it works in the same way as Haskell!

[2018-10-16 14:55] Michael-Kateregga commented on #641
@Gabriel439 <https://github.com/Gabriel439> I am planning to implement
Dhall to manage our logging on our various servers, any insights from you
will be greatly appreciated.

Regards,

On Tue, Oct 16, 2018 at 4:16 PM Gabriel Gonzalez <notifications@github.com>
wrote:

--
*Michael Kateregga, PhD*
Software Developer
*Mira Networks* <http://www.miranetworks.net/>
e: michaelk@miranetworks.net
p: +27 7

[2018-10-16 15:39] Gabriel439 commented on #641
@Michael-Kateregga: I don't have anything to specific to add, other than to mention that you can use the `dhall` tag on Stack Overflow if you need any help with the design.  I subscribe to that tag, so I get e-mail notifications for any new questions.

[2018-10-16 16:17] Michael-Kateregga commented on #641
@Gabriel439 done, thanks!

[2018-10-16 16:52] Gabriel439 commented on #641
You're welcome! 🙂

[2018-10-16 17:35] FintanH opened #642 "Loading from Cache Typechecks Again"
It seems like we're not getting any wins from caching when it comes to caching. Correct me if I'm wrong (very likely 😄) but when we run `dhall <<< ./file` it will [resolve](https://github.com/dhall-lang/dhall-haskell/blob/master/src/Dhall/Main.hs#L273) the expressions, this is where loading from the cache comes in, but it still [typechecks](https://github.com/dhall-lang/dhall-haskell/blob/master/s

[2018-10-16 17:38] sellout commented on #642
So, we could potentially always cache `Annot`, but perhaps add a `checked` boolean to `Annot`, such that `typeWithA` doesn’t `loop` over `Annot` nodes that have been loaded from cache (i.e., `checked = True`)?

[2018-10-16 17:54] Gabriel439 commented on #642
We could disable type-checking for things imported from the cache if we can lock down permissions such that only the user has read-write access to it.  We already type-check things before we cache them anyway

[2018-10-16 17:56] FintanH commented on #642
Ya, the hope is not to do that work the second time when loading from the cache 😁

[2018-10-16 18:00] Gabriel439 commented on #642
Oh, I remember why we type-check things now.  Type-checking is necessary so that we can αβ-normalize the expression to verify the semantic integrity check.  So if we disable type-checking for imported expressions that implies disabling signature verification, too.

However, that could be an option.  Again, we can trust the cache if we can lock it down and assume cached expressions have been verifi

[2018-10-16 18:02] FintanH commented on #642
Does the semantic integrity check not happen before the place I pointed out above?

[2018-10-16 19:45] Gabriel439 commented on #642
@FintanH: Oh, sorry.  I misunderstood which type-checking step you are referring to.

Yeah, this would require more work to prevent type-checking the resolved expression at least once.

Before deciding on a particular strategy, I would like to know:

* How large is the expression being type-checked (in bytes for the cached form)?
* How long does it take to type-check the expression after decoding

[2018-10-17 12:26] philderbeast opened #643 "License not recognized as BSD-3-Clause."
The [license](https://github.com/dhall-lang/dhall-haskell/blob/master/LICENSE) is not being recognised by github as BSD-3-Clause. For an example that is recognised, see the [license of the units-parser](https://github.com/adamgundry/units-parser/blob/master/LICENSE).

[2018-10-17 14:13] FintanH commented on #642
@Gabriel439: This isn't regarding caching, but it'll give you an idea of what we're working with. I took a configuration that we can get to complete in a "reasonable" amount of time, about 14mins.

* Redirecting the output of `dhall <<< ./expression` results in ~550MB
* `dhall resolve` on that output takes about 16mins
* `dhall type` on the result of `dhall resolve` takes about 16mins

[2018-10-17 14:40] philderbeast opened #645 "bootstrap-tools rejects I am a 'x86_64-darwin'"
I have found that `nix build` fails on osx;

[code]

Could we add instructions on building `dhall-haskell` mentioning which build methods are supported?

[2018-10-17 15:07] philderbeast commented on #645
I also tried `cabal new-build all` from a nix shell;

[code]

[2018-10-17 15:19] philderbeast opened #646 "warning: treating <U+2227> as identifier character"
Is this warning harmless?

[code]

[2018-10-17 20:32] Gabriel439 commented on #645
@philderbeast: I believe `nix-build --attr dhall` should work

I can also update the `nix-shell` to provide `cabal` for you as a convenience if you don't already have it installed.

In the meantime, it's technically not necessary to have `cabal` installed (which is the reason why the Nix shell doesn't automatically pick up `cabal` as a build-time dependency by default).  You can actually run the f

[2018-10-17 21:21] philderbeast commented on #645
Using `nix-build --attr dhall` works for me but I haven't yet been able to find the `nix build` newer porcelain equivalent of this;

[code]

Bypassing cabal and going straight to the setup also works for me;

[code]

[2018-10-17 22:15] PierreR commented on #645
@philderbeast `nix build -f default.nix dhall` works for me.

[2018-10-18 07:25] Michael-Kateregga opened #647 "How can I capture or import current date and UTC timestamps in dhall?"

[2018-10-18 08:28] FintanH commented on #642
Update: The size of the cached file is 33MB

[2018-10-18 12:10] philderbeast commented on #645
@PierreR I'm seeing `nix build` and `nix build -f default.nix` both failing with the same output on osx;

[code]

[2018-10-18 12:35] philderbeast commented on #645
After the suggestion from @PierreR to add `-f default.nix`, after reading up on https://github.com/NixOS/nix/issues/779 and the [nix build section](https://gist.github.com/edolstra/efcadfd240c2d8906348#nix-build) of the initial design docs for the change in porcelain and after some trial and error, I can build dhall with `nix build` too;

[code]

[2018-10-18 14:51] philderbeast commented on #646
I logged a [ticket](https://ghc.haskell.org/trac/ghc/ticket/15775#ticket) about this with ghc.

[2018-10-18 15:51] Gabriel439 commented on #645
Yeah, my plan for what to fix here is:

* Update `default.nix` so that it only builds the default `dhall` derivation and move other derivations to a separate file
* Update the README with the latest instructions for common build tools (i.e. `cabal`, `stack`, Nix-only, and Nix + cabal)
* Update `nix-shell` so that it automatically supplies a `cabal` of the correct version so that you don't need to

[2018-10-18 22:32] Gabriel439 commented on #646
Thanks for doing that! 🙂

[2018-10-19 02:19] #643 closed

[2018-10-19 10:59] Michael-Kateregga opened #648 "Reverse of concatSep in Prelude/Text/concatSep"
Hi,

I would like to do achieve a function similar to Haskell's Data.List.splitOn in Dhall. In other words, a reverse of Prelude/Text/concatSep.

How would I construct this?

[2018-10-19 14:06] Gabriel439 commented on #648
There is no way to reverse `Text/concatSep` in Dhall.  `Text` values are opaque and cannot be inspected, parsed, or broken down in anyway.  The only operation that Dhall permits on a `Text` value is concatenation.

The reason why is that the language tries to encourage people to push any expected structure upstream into the inputs to the program.  For example, instead of writing a Dhall program th

[2018-10-19 18:19] Michael-Kateregga commented on #648
@Gabriel439 Thanks, the reason was try and write a config that parses a single comma separated string.
I will back this up with haskell.

[2018-10-19 19:14] ocharles commented on #647
Currently this cannot be done in pure Dhall. The program using Dhall would have to supply the current date as an argument to the Dhall program it's interpreting.

[2018-10-19 19:16] Michael-Kateregga commented on #647
@ocharles thanks Charles!

[2018-10-22 08:19] Michael-Kateregga opened #651 "Recursion on a list"
In dhall we can do
`
    let T = https://raw.githubusercontent.com/dhall-lang/Prelude/master/List/package.dhall
in let h = T.head
in let l = T.last
in let lst = [3, 9, 2, 7, 1]
in [h Natural lst, t Natural lst]
`
to get [Some 3, Some 1].

But how can I extract 9, 2 or 7 for example?

[2018-10-22 09:15] FintanH opened #652 "Prefer Normalization"
[code]
currently resolves to:
[code]

We could explore normalizing it to `{ foo = True }` since the field will be overwritten no matter what is given.

[2018-10-22 09:31] FintanH opened #653 "Prefer Normalization"
[code]
currently resolves to:
[code]

We could explore normalizing it to `{ foo = True }` since the field will be overwritten no matter what is given.

[2018-10-22 10:40] FintanH commented on #653
Closing because I made a duplicate due to github outage.

[2018-10-22 10:40] #653 closed

[2018-10-22 12:04] ocharles commented on #515
What would you use for files?

[2018-10-22 12:19] sellout commented on #651
https://github.com/sellout/dada/blob/master/List/at

Dada has a bunch of recursion stuff in it, and more coming.

[2018-10-22 12:21] sellout commented on #651
./List/at 1 [3, 9, 2, 7, 1]

9

[2018-10-22 14:40] Michael-Kateregga commented on #651
@sellout Thanks Greg! Do you have the url for the actual dhall expression of https://github.com/sellout/dada/blob/master/List/at

[2018-10-22 15:39] FintanH commented on #652
Could that be circumvented if this operator became right-associative? :thinking:

[2018-10-22 16:15] Gabriel439 commented on #652
@FintanH: The associativity specified in the grammar only affects how operators are parsed but does not affect how they are normalized.

However, if the goal is to reassociate operators so that we can simplify expressions of the form:

[code]

... to an expression that can be further simplified:

[code]

... then I believe we can do that.

For each associative operator we can add a judgment to the

[2018-10-22 16:38] FintanH commented on #652
@Gabriel439: This all sounds excellent :ok_hand: It has bothered me that we also build up `+` operations like: `1 + (1 + (1 + x))` so that'd be awesome to see go away :smile:

[2018-10-22 17:38] Michael-Kateregga commented on #651
@sellout Ok I got it, I just needed to click on raw at the repo.

[2018-10-22 17:38] #651 closed

[2018-10-23 06:57] drvirgilio opened #654 "Dhall silently overflows on large Doubles"
When given an exponent greater than 2^63-1, dhall silently overflows into negative values starting at 2^-63. I noticed this occurs during normal evaluation and when encoding to CBOR. One fix is to change the specification for the CBOR encoding to somehow allow bignum exponents (CBOR decimal fractions do not allow them). But that seems like an absurd change! Instead, should dhall just exit with an

[2018-10-23 16:13] Gabriel439 commented on #654
I think this deserves consideration as a language-agnostic issue and should be opened as a discussion in the `dhall-lang` repository:

https://github.com/dhall-lang/dhall-lang/issues

The reason I suggest this is that whatever we decide here will ultimately have to be upstreamed in the standard first, so we need to decide what is appropriate for all language implementations as opposed to just the

[2018-10-24 23:15] vmchale opened #655 "Parser bug triggered by `Some`"
With the following Dhall:

[code]

I get the following error:

[code]

Of course, there is no variable `Cons` so I assume this is a parse error.

Thanks!

[2018-10-25 10:33] Michael-Kateregga opened #656 "Using Dhall to generate Haskell Data Types"
I have a log: "text1,text2,natural1,text4,double1"

What I intend to do is to write a dhall config that I can decode in haskell to obtain a data structure:
    data Log
                 { field1 :: String
                 , field2 :: String
                 , field3 :: Natural
                 , field4 :: String
                 , field5 :: Double
                 }

without first defining the dat

[2018-10-25 15:43] Gabriel439 commented on #655
Yeah, this is a bug in both the standard and the Haskell implementation.  I accidentally added two rules to the standard for parsing `Some`: one requiring non-empty whitespace afterwards and one not.  The correct one is the former one.

[2018-10-25 15:45] Gabriel439 commented on #655
Whoops, my mistake.  The standard grammar is just fine (I had a brain fart).  The only issue here is that the Haskell implementation is not standards-compliant.

[2018-10-25 15:56] Gabriel439 commented on #655
Fix up here: https://github.com/dhall-lang/dhall-haskell/pull/658

[2018-10-26 09:54] Michael-Kateregga opened #659 "Handling nested Unions"
Hello, I have the following:
`
let ceApp = constructors < X : < P : Natural | Q : Bool > | Y : < R : Natural | S : Bool >> in ceApp.X < P = 4 | Q : Bool >
`
that returns
`
< X = < P = 4 | Q : Bool > | Y : < R : Natural | S : Bool > >
`
Can some one provide an example of handling ceApp.X <...> in the sense:

`
merge handlers (ceApp.X < P = 4 | Q : Bool >)
`

[2018-10-26 10:37] Michael-Kateregga commented on #659
I tried the following but it doesn't work:
`
let ceApp = constructors < X : < P : Natural | Q : Bool > | Y : < R : Natural | S : Bool >> in merge {\(x : <P : Natural | Q : Bool>) -> merge {P = Natural/even, Q = \(b : Bool) -> b} x, \(y : <R : Natural | S : Bool>) -> merge {R = Natural/even, S = \(b : Bool) -> b} y} (ceApp.X < P = 4 | Q : Bool >)
`

[2018-10-26 14:03] Gabriel439 commented on #659
I renamed things a little bit, but here is how you would do a nested `merge`:

[code]

[2018-10-26 15:48] #655 closed

[2018-10-28 22:10] ocharles opened #663 "Allow `dhall freeze` to only freeze specific imports"
I've found that while working I often want to freeze a subset of imports - in particular, imports from `prelude.dhall-lang.org`. What about adding `--host` to `dhall freeze`, as one solution?

[2018-10-28 22:21] #647 closed, assigned to nobody

[2018-10-28 22:30] f-f commented on #29
@ocharles this is actually already mentioned [in dhall-lang's README](https://github.com/dhall-lang/dhall-lang#language-bindings), so I'd say we can close this

[2018-10-28 22:30] #29 closed

[2018-10-28 22:30] ocharles commented on #362
https://github.com/dhall-lang/dhall-lang/issues/129 is resolved, and this issue only specifically mentions " believe an order of magnitude improvement could be had just by caching the imports." Is that enough to resolve this issue? I worry that otherwise it's slightly unclear what the scope of this issue is other than "make things better" (as worthy as that goal is!)

[2018-10-28 22:32] ocharles commented on #380
I think Gabriel's answer clarifies why this isn't supported, and more importantly why it *can't* be supported. I'll close this, but if you think that's in error just shout and we can re-open this and continue the conversation.

[2018-10-28 22:32] #380 closed

[2018-10-28 22:33] ocharles commented on #425
I feel like https://github.com/dhall-lang/dhall-haskell/pull/661 might go towards fixing this too, as it at least consolidates all Nix expressions. @KirinDave - did you make any progress on your side?

[2018-10-28 22:38] ocharles commented on #361
I'm having a hard time following what this issue is asking for (in the last comment). @PierreR could you clarify if this issue is still important to you, and if so - what could be improved or added on Dhall's side?

[2018-10-28 22:40] ocharles commented on #226
@Gabriel439 you say:

Is this work on a branch anywhere that could be pushed for others to collaborate on? Or have things changed to the point where this is no longer a relevant issue? I forget what the error looks like - but I've probably got used to just reading the import hierarchy above!

[2018-10-28 22:43] ocharles commented on #504
@mrkkrp are you able to give this another test?

[2018-10-28 22:43] ocharles commented on #513
I'm going to close this as we now distribute static binaries, which I think solves the same problem.

[2018-10-28 22:45] Gabriel439 commented on #663
@ocharles: Yeah, that seems reasonable to me.  I can't think of another way to accomplish the same thing within the existing set of features

[2018-10-28 22:45] ocharles commented on #561
I believe this duplicates https://github.com/dhall-lang/dhall-haskell/issues/226. This has a bit more advice for progress, so perhaps #226 should be closed.

[2018-10-28 22:47] Gabriel439 commented on #3
@ocharles: I'll close this since I don't think the issue tracker needs to be used for project ideas any longer.  At this point the best place for such ideas is an actual project :slightly_smiling_face:

[2018-10-28 22:47] #3 closed

[2018-10-28 22:49] Gabriel439 commented on #362
I will go ahead and close this in favor of more specific issues since there's not a clear criterion for when this issue is complete

[2018-10-28 22:49] #362 closed

[2018-10-28 22:50] ocharles commented on #663
Indeed. I wasn't sure if `--host` was the right interface though. Maybe `--prefix` which could take either a URL or file path. If it's a filepath, we canonicalise it and avoid freezing any imports with a similar prefix?

[2018-10-28 22:51] Gabriel439 commented on #361
I think it's on me to close this since I was the one who reopened it :slightly_smiling_face:

[2018-10-28 22:51] #361 closed

[2018-10-28 22:52] ocharles commented on #525
Did #530 fix this?

[2018-10-28 22:54] Gabriel439 commented on #226
@ocharles: As you commented in #561 I think that we should let #561 supersede this ticket since that has the more detailed summary of what changes need to be made.  I don't have a specific branch, though, just the notes that I left on that ticket

[2018-10-28 22:55] ocharles commented on #609
If we're going to allow `extract` to return a failure error message, then I think we're heading into a territory where

no longer really holds. Should this be weakened? If not, then it's simply the case that `Interpret UUID` can't exist. This doesn't mean you can't parse UUIDs, but that `Interpret` is not the right entry point, and that also means giving up the current generics support.

[2018-10-28 22:56] ocharles commented on #226
Cool with me!

[2018-10-28 22:56] #226 closed

[2018-10-28 23:07] Gabriel439 commented on #609
@ocharles: So the part where the contract matters most is in the `Interpret` instance for functions, which uses a partial pattern match when attempting to decode the function's result:

https://github.com/dhall-lang/dhall-haskell/blob/6fd4c8372463c2998580c0e8be38b547e4038861/src/Dhall.hs#L803

So if we don't want to risk that then we need to come up with another mechanism for dealing with decoding

[2018-10-28 23:28] ocharles commented on #476
@joneshf That's almost right, though see https://github.com/dhall-lang/dhall-to-cabal/blob/5768ce97097c10bc3272fbc3e6cffcc513b4480a/lib/DhallToCabal.hs#L592,L699 which is the version in `HEAD` and has an important bug fix.

Essentially, the idea is to take that function, apply it to fresh variables, and then pattern match on uses of those variables.

Yep!

Did this help answer your question?

[2018-10-29 00:35] Gabriel439 commented on #518
Also, I just want to note here that we did end up switching to an internal `Map` implementation in #612, which fixes two of the issues mentioned in this thread:

* We've removed the dependency on `lens`
* The performance improved compared to `insert-ordered-containers`

Given that I believe the original use case is already addressed by the `dhall diff` subcommand I'm going to close.  However, feel

[2018-10-29 00:35] #518 closed

[2018-10-29 02:48] mrkkrp commented on #504
No, I'm not working on that project anymore and don't have access to the code base :)

[2018-10-29 05:55] Michael-Kateregga commented on #659
@Gabriel439 this is perfect!

[2018-10-29 07:11] joneshf commented on #476
Yes, I think so. Thanks!

[2018-10-29 07:28] joneshf commented on #663
An interesting option would be an `--interactive` flag that works similar to the `-i`/`--interactive` flag for the `rm` command: prompt before taking the action on each candidate. In this case, prompt for each import whether to freeze it or not.

[2018-10-29 08:47] #659 closed

[2018-10-29 08:57] ocharles commented on #504
No problem! Do you recall which locale you were using when the problem happened?

@judah would you be able to re-test?

[2018-10-29 08:57] #476 closed

[2018-10-29 09:00] ocharles opened #664 "Dhall.Core.Project should store an ordered set of field projections"
Continuing from #518, which identifies that the `Set` currently used will loose field ordering.

[2018-10-29 09:15] f-f commented on #664
@ocharles what’s the use case for this?

[2018-10-29 20:07] eamsden commented on #525
As far as I'm concerned as issue and PR author it did, but I'll leave that up to @Gabriel439 to decide. @ocharles

[2018-10-29 22:10] Gabriel439 commented on #525
I'll mark this closed, then

[2018-10-29 22:10] #525 closed

[2018-10-30 00:37] philderbeast opened #665 "Missing from stackage nightly ghc-8.6.1."
The latest stackage nightly I can find with `dhall` and `dhall-json` is [2018-09-28 (ghc-8.4.3)](https://www.stackage.org/nightly-2018-09-28/hoogle?q=dhall). They're missing from the next nightly, [2018-09-29 (ghc-8.6.1)](https://www.stackage.org/nightly-2018-09-29/hoogle?q=dhall) and the latest one [2018-10-29 (ghc-8.6.1)](https://www.stackage.org/nightly-2018-10-29/hoogle?q=dhall).

These packag

[2018-10-30 00:40] Gabriel439 commented on #665
@philderbeast: Yes, I plan to add `dhall`/`dhall-json` back to Stackage soon.  They got kicked off Stackage because of https://github.com/commercialhaskell/stackage/issues/4008 and I just haven't had a chance to add them back, yet

[2018-10-30 01:40] judah commented on #504
Pinging: @thumphries @nhibberd

[2018-10-30 08:47] ocharles commented on #663
Alright, I'll try and throw something together for `--prefix`

[2018-10-30 21:51] judah commented on #504
I do recall the LANG variable was unset, so that the default encoding was effectively ASCII.  (Like mrkkrp, I'm also unable to test this fix.)

[2018-10-31 01:14] thumphries commented on #504
Yeah feel free to close, we will know for sure in a couple of days but the changes look sufficient to me.

[2018-10-31 01:42] #504 closed

[2018-10-31 11:56] Michael-Kateregga commented on #659
What would be the equivalent data structure of the nested union 'outer' in haskell? I was thinking along the lines:

type P = Natural
type Q = Bool
type R = Natural
type S = Bool
data innerX = P | Q deriving Show
data innerY = R | S deriving Show
data Outer = Ol innerX | Or innerY deriving Show

[2018-11-01 09:53] f-f commented on #145
@Gabriel439 What's the main challenge to tackle in order to fix this? As far as I remember the main problem is that it'd be hard to associate comment fragments to other AST nodes, right? (as in: a comment line that comes before some code goes with the next node, but what to do in case of a comment fragment on the same line? Also how about the alignments? And does this mean that comments would slow

[2018-11-01 10:09] ocharles commented on #145
The GHC approach is not to out comments in the AST, but have a separate map
Map (NodeType, SrcLoc) Annotation. So as you traverse the AST you have
SrcLocs and can find annotations for the node you're at. That's one
approach. Or we could have a trees that grow approach and erase comments
from the AST for anything but formatting.

On Thu, 1 Nov 2018, 9:53 am Fabrizio Ferrai <notifications@github.com

[2018-11-01 14:48] Gabriel439 commented on #145
There is also a third solution, which is a "low-tech" formatter that doesn't actually parse the AST but rather just scans the text and formats as it goes.  I believe this is how [`go fmt`](https://golang.org/src/fmt/print.go) works.

However, I think the simplest and most robust solution is the second one that @ocharles  mentioned which is just to preserve parsed whitespace in the syntax tree usin

[2018-11-01 15:04] Gabriel439 commented on #659
@Michael-Kateregga: The equivalent Haskell data structure would be:

[code]

[2018-11-01 21:11] DanBurton commented on #665
Note that this is blocked by https://github.com/commercialhaskell/stackage/issues/3955, since `dhall-1.18.0` requires `megaparsec >= 7`, while `dhall-1.17.0` requires older `containers` and `template-haskell`.

I'll work on coaxing people to upgrade to megaparsec 7.

[2018-11-02 05:41] Michael-Kateregga commented on #659
@Gabriel439  Thanks, this works fine.

[2018-11-06 05:54] f-f commented on #568
@Gabriel439 Re: making the `parser` tests agnostic: we figured that having AST there would not be good as it's not part of the standard, but how about using the JSON representation of CBOR as a "reasonably close AST representation"?

That is, `A` would be an expression to parse (e.g. `λ(x : Bool) → x`), and `B` would be  its CBOR representation (in plaintext JSON - for readability) - in this case

[2018-11-06 06:10] masaeedu commented on #425
Would it be possible to use cachix and some kind of CI to ensure a build of dhall-haskell (along with its transitive dependency) is available in the binary cache? Very new to both Nix in general and cachix in particular, so apologies if the question doesn't make any sense.

[2018-11-06 11:05] ocharles commented on #425
This is actually already possible due to the use of Hydra. Simply add `https://hydra.dhall-lang.org` to your binary cache list. I actually prefer to just switch to `root` and run `nix-store -r /nix/store/a-known-dhall-build --option extra-substituters https://hydra.dhall-lang.org` so I don't always use the Dhall cache and add too much extra load. You can get the store path of a known build by goin

[2018-11-06 13:34] Gabriel439 commented on #425
@masaeedu: Yeah, as @ocharles already mentioned, `hydra.dhall-lang.org` already serves its own cache, so you can configure your system to use Hydra's cache by adding these lines to `/etc/nix/nix.conf`:

[code]

Or if you use NixOS, the corresponding NixOS options would be:

[code]

Then if you build using the Nix derivations provided by this repository it should closely match what `hydra.dhall-lan

[2018-11-06 13:45] Gabriel439 commented on #568
@f-f: Yeah, that seems fine to me, since it's reusing something we've already standardized and CBOR is an unambiguous representation

[2018-11-07 01:05] masaeedu commented on #425
Thanks @ocharles, @Gabriel439!

[2018-11-07 12:32] Michael-Kateregga opened #673 "Decoding a dhall Type Expression in haskell"
I know decoding a dhall literal file in haskell we use `input` with the expected output type specified. What about a dhall type file?

I tried using inputExpr but I am not sure how I can convert the resulting (Expr Src X) into haskell's data structure.

[2018-11-07 13:19] sellout commented on #673
You can use `input` the same way on types as well (all Dhall files contain expressions), but you will need a Haskell type that represents Dhall types. So, `inputExpr` can do that (although `Expr` represents both types _and_ terms). What is the Haskell type you’re trying to convert to?

[2018-11-08 07:56] Michael-Kateregga opened #674 "Converting (Expr Src X) to (Map key value)"
Does anyone know how I can convert type `(Expr Src X)` to `(Map key value)`  in haskell. I tried to follow #505  but the `toMap` suggested by @Gabriel439 requires a `[KeyValue a]` instead.

[2018-11-08 08:18] f-f commented on #674
@Michael-Kateregga we do something like that in [spacchetti-cli](https://github.com/justinwoo/spacchetti-cli/blob/master/app/Spacchetti.hs#L128): basically the idea is that you match on the `Expr Src X` to be a `RecordLit`, and then to convert to a `Map k v` you check that all the keys are of type `k` and all the values of type `v`

[2018-11-08 09:40] Michael-Kateregga commented on #674
@f-f Thanks for sharing. Which version of ghc are you using. I notice the Pragma DerivingStrategies is not support in ghc ver 8.0.2?

[2018-11-08 09:43] f-f commented on #674
@Michael-Kateregga we're on GHC 8.4. `DerivingStrategies` is needed only for line 29 there, so it doesn't affect the behaviour of the example (it's basically there just for nicer debugging)

[2018-11-08 09:50] Michael-Kateregga commented on #674
@f-f  Oh I see but I will have to upgrade my ghc regardless. By the way I also get an error at line 128 i.e.

    • Couldn't match type ‘containers-0.5.7.1:Data.Map.Base.Map
                             Text Package’
                     with ‘Map Text Package’
      NB: ‘Map’
            is defined in ‘Data.Map.Internal’ in package ‘containers-0.6.0.1’
          ‘containers-0.5.7.1:Data.Map.Base.

[2018-11-08 14:00] jneira commented on #674
That seems a pretty usual conversion, could be added to `Dhall` main module?

[2018-11-08 14:01] sellout commented on #673
So, to use `input` to generate a `Type Person`, you need a `Type (Type Person)`, no?

[code]

I’m still not sure exactly what you’re trying to accomplish with this, but if what you want is to be able to read Dhall types to use in the `expected` field of your `Dhall.Type` values, that’s what I created [`staticDhallExpression`](https://hackage.haskell.org/package/dhall-1.18.0/docs/Dhall-TH.html) for

[2018-11-08 16:36] Gabriel439 commented on #674
Yeah, it seems like an `Interpret` instance for `Map` would work.  In other words:

[code]

I'd definitely support adding that. @Michael-Kateregga: Does that address your use case?

[2018-11-08 16:48] Gabriel439 commented on #673
@Michael-Kateregga: Just to clarify: are you trying to auto-generate the Haskell type definition from the Dhall type definition?

Or in other words, are you trying to replace this line of Haskell code:

[code]

... with some Template Haskell that reads in the Dhall type description at compile time and generates the `Person` datatype definition from that file?  Like this:

[code]

[2018-11-08 16:50] Gabriel439 commented on #425
@masaeedu: You're welcome! 🙂

[2018-11-08 16:51] Gabriel439 commented on #425
I'll also go ahead and close this since I'm pretty sure the Dhall Nix build is correctly working since it is regularly exercised by Hydra and I've also recently tested `nix-build` and `nix-shell` for all of the projects.

[2018-11-08 16:51] #425 closed

[2018-11-08 16:59] Michael-Kateregga commented on #673
@sellout thanks @Gabriel439 that's exactly what I need, you got it!

[2018-11-08 17:12] Michael-Kateregga commented on #674
@jneira @Gabriel439  I will try adding the instance and see.

[2018-11-09 08:06] Michael-Kateregga commented on #673
@sellout  I have two questions on your comment:

- How does `staticDhallExpression :: Text -> Q Exp` relate to `Person`. In other words how can I `Q Exp -> Person` in haskell?

- Dhall's (`Type a`) works with literals (i.e. `a`) . In my case I am trying to decode a record type in haskell not a record literal. My understanding is that `Person` is a type of a literal in

`
person :: Dhall.Type (Dhal

[2018-11-09 14:40] Gabriel439 commented on #673
@Michael-Kateregga: We can totally have a `makeHaskellType` function.  It just takes a bit of time to author such a function

[2018-11-09 19:45] Michael-Kateregga commented on #673
Oh okay I see, I will try and work with what @sellout recommended i.e. staticDhallExpression  but I am not sure how one can extract individual field types from such a structure.

[2018-11-11 14:50] Reisen opened #676 "Interpolation fails on external templates/text"
Interpolation seems to happen at the file level. This may be intentional, but seems like a large shortcoming. As an example

[code]

[code]

If I try and run this with some data:

[code]

I receive an error about `env` being unbound. If I bring the template into the same file instead of trying to expand it with `./Template`, everything works. I assume this has to do with scope being checked only w

[2018-11-11 15:03] tscholak opened #677 "build issues on macOS"
I just cloned the repo () and tried to build it on macOS but to no avail:
[code]
Is there a workaround for this other than https://hydra.nixos.org/build/83911384/download/1/nixpkgs/manual.html#builds-on-darwin-fail-with-math.h-not-found?

[2018-11-11 15:15] tscholak commented on #677
I just noticed that `math.h` isn't in `/usr/include` but in `/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/`. Hence I set `$NIX_CFLAGS_COMPILE` to that value instead. Unfortunately, that doesn't seem to do the trick either :/

[2018-11-11 15:17] sellout commented on #676
This isn’t about interpolation, but rather dynamic vs lexical scoping. It’s no different than if you had
[code]
[code]
I fall strongly on the side of disallowing any form of dynamic scoping, and there are plenty of places to read about the consequences of either online, so I won’t rehash the arguments here.

[2018-11-11 16:08] Michael-Kateregga commented on #673
@sellout Could please provide a use case of  staticDhallExpression in haskell.

[2018-11-11 17:03] sellout commented on #673
@Michael-Kateregga I linked to an example in the docs earlier in this thread – https://hackage.haskell.org/package/dhall-1.18.0/docs/Dhall-TH.html

Let me know if that isn’t clear enough, so I can improve the docs.

Also, I’m not opposed to something like `makeHaskellType` existing, but binding your Haskell ASTs to serialized data format is something to be wary of. My own preference is to _statica

[2018-11-11 17:26] haitlahcen opened #678 "Record type merging ASCII operator not working"
The record type merging ASCII operator `//\\` do not work anymore after having upgraded my dhall version from `1.15` to `1.18`. The UNICODE one is working perfectly tho.

The output from the `dhall repl`

[code]

[2018-11-11 17:39] f-f commented on #678
Yeah, this bug has been fixed in https://github.com/dhall-lang/dhall-haskell/commit/9d0fd42d95ab69fa64da4afd8b60d69aca8e65a6

I think we'll cut a new release with the fix as soon as some other major changes get in 👍

[2018-11-11 17:44] Gabriel439 commented on #676
@Reisen: Is there any reason why you cannot do this in your template file?

[code]

[2018-11-11 17:44] haitlahcen commented on #678
Oh, I did not noticed the commit ! Good catch and thanks for the quick answer :)!

[2018-11-11 17:49] #678 closed

[2018-11-11 19:59] sellout commented on #673
Ok, I wrote a bunch of stuff, then I re-read this thread and deleted everything I wrote, because I don’t think I understand what you are trying to accomplish.

So, let’s say you used `inputExpr` as you mentioned above, now, in Haskell, you have a `Dhall.Core.Expr Src X` that represents a Dhall type that looks like `{ name : Text, address : Text, age : Natural }`. What do you want to do with that `

[2018-11-11 20:07] sellout commented on #676
@Gabriel439 It seems @Reisen’s goal is to have users write “plain text” template files where the rules are basically like “wrap vars in ${...}, and the vars available are `foo`, `bar`, ...”

The example shows a bit of a middle ground, which confuses things a bit … i.e., if you’re going to use something to do
[code]
then you might as well do
[code]
But I think @Reisen wants to have template files t

[2018-11-11 20:29] Michael-Kateregga commented on #673
@sellout this is clear now thank you. My concern was why I had to define a data type in haskell before I could import the dhall file but with staticDhallExpression there is no need.

[2018-11-11 20:44] Gabriel439 commented on #674
@Michael-Kateregga: So, looking at this more closely, it doesn't seem like there is a way to convert a `RecordLit` to a Haskell `Map` via `Interpret`.  `Interpret` requires you to specify the expected type which would change as you're adding or removing record fields.

I think probably the best we can do in the foreseeable future is to complete support for `toMap` so that you can still:

* define

[2018-11-11 20:45] tscholak commented on #677
thank you @Gabriel439!
I have tried to reproduce the error with a single-user installation of nix on a High Sierra machine (17.7.0), but I can't. It could be something about Mojave, or maybe this particular installation of nix is somehow broken...

[2018-11-11 20:53] Gabriel439 commented on #676
@sellout: Yeah, I understand the goal.  What I meant to ask is if it would be okay to retain the boilerplate at the top of the file and tell the less technical user to ignore that boilerplate.

Where I'm going with this is that I believe you can automate away a lot of the boilerplate by using an import to specify the type of the environment bound by each template, like this:

[code]

That then pro

[2018-11-11 21:08] jneira commented on #674
And what about `map :: [String] -> Type a -> Type (Map String a)`?
Caller should choose the restricted set of keys.

[2018-11-11 21:31] Gabriel439 commented on #677
@tscholak: Could the issue be that you installed the XCode developer tools?  Has anybody tested if uninstalling them fixes the problem?

Also, do you have `ghc` installed?  Some comments on that issue seemed to indicate that this might be due to interference from a globally installed `ghc`

[2018-11-11 21:33] Reisen commented on #676
@Gabriel439 The main problem here is that the files themselves aren't created by me, they're spit out of another tool as markdown files written by other users who understand Markdown but aren't technical. Of course I can try and push the issue down the line to the users and have them write headers in the Markdown they write, but I want to avoid that. So right now my only real choice is to do a kin

[2018-11-11 21:40] tscholak commented on #677
both machines (darwin 17.7.0 and 18.0.0) have a global `ghc`:
[code]
and both machines have the xcode dev tools installed. the only difference I could find so far is the macOS version

[2018-11-11 23:49] Gabriel439 commented on #677
Yeah, I'm familiar with https://github.com/NixOS/nix/issues/2244.  That will be trickier to fix because I'm depending on a specific revision of `nixpkgs` for support for static linking of binaries (See: https://github.com/NixOS/nixpkgs/issues/43795)

It sounds like this is a Mojave-specific issue, then

[2018-11-12 00:10] sellout commented on #673
@Gabriel439 I agree that having Dhall as the source of truth is better than having Haskell as the source of truth. `staticDhallExpression` is intended to do just that – treat the Dhall type as the source of truth.

However, I don’t believe that the Haskell types or conversions between the Dhall and Haskell types should be dynamically generated. As new features are added or versions are released, o

[2018-11-12 00:30] Gabriel439 commented on #673
@sellout: Yeah, I agree that you sometimes don't want to directly use the generated type and you want to convert into your own type.  What I meant is that it's easier to perform such a conversion if the starting type is already a strongly-typed Haskell record instead of a weakly-typed `Expr` abstract syntax tree.

[2018-11-12 07:58] Michael-Kateregga commented on #673
@Gabriel439  This is exactly what I have in mind.

[2018-11-12 09:36] f-f commented on #674
Or how about changing the `expected :: Expr Src X` to `expected :: Expr Src X -> Expr Src X` in the definition of `Type`? Would that make sense at all?
It would allow the Haskell bindings to be "dependent", and make possible to implement the `Interpret (Map Text a)` instance

[2018-11-12 14:07] sellout commented on #674
@f-f Can’t you already do that via `Interpret a =>Interpret (Map String a)`?

[2018-11-12 14:12] Michael-Kateregga commented on #673
Are you not missing something in the code because I get a parse error at "\case" i.e.

error: parse error on input ‘case’
       |
261 |   (\case
       |     ^^^^

[2018-11-12 14:18] sellout commented on #674
Oh, read earlier on the thread 😅

[2018-11-12 15:30] Michael-Kateregga commented on #673
@sellout I have also noticed that `staticDhallExpression` is of type `Q Exp` but your pattern match expects `Expr Src X`. Am I missing something?

[2018-11-12 15:57] sellout commented on #673
@Michael-Kateregga Ok, there are a couple issues – here’s a hopefully fixed one:
[code]
- `\case` is enabled by the `LambdaCase` pragma, otherwise you need to do `\x -> case x of`
- I copy-pasted `<$>` and didn’t replace it with `<*>`
- `Q Exp` is correct – `Exp` is the type of a _Haskell_ AST, and `Q` is the uh quotation(?) monad. They’re used in Template Haskell. the `$()` expects a value of tha

[2018-11-12 16:11] jneira commented on #674
@f_f i had thought in that alternative, it would be nice to find other uses cases though. Anyway i would try to implement the version with explicit keys to let users being more strict

[2018-11-12 16:22] Michael-Kateregga commented on #673
The bug is now fixed. Thanks @sellout this approach requires `Person` to be defined before via `data Person = Person {name :: String, address :: String, age :: Natural} deriving (Generic, Interpret, Show)`. I can work with this for now as I wait to test the foreseen `makeHaskellType`

[2018-11-12 16:47] f-f commented on #674
@jneira here's an implementation of the `map` you proposed above (note that it doesn't even need the `Type a` in the signature, as we just need an `Interpret` constraint. We just need the list of keys, as we need it in `expected` since we don't get the expression):

[code]

This should work (typechecks but I didn't test it), but as you said one has to know the keys in advance, which kind of takes

[2018-11-12 17:53] Gabriel439 commented on #674
Maybe what we can do is change the `expected` field to `Either Text (Expr Src X)` where `Left` is a generic error message if decoding fails.  i.e.: "The decoded value was not a record"

[2018-11-12 18:13] Michael-Kateregga commented on #673
@sellout sorry for my nagging but I have one more question: for a dhall record literal we can extract a field using `record.field` is there a way we can extract a `field type` say `Natural` for `age` from `Type Person` analogously?

[2018-11-13 04:34] MonoidMusician commented on #664
For what it’s worth, the way I’m modelling this in my dhall-purescript project is by using the same datatype used to represent records and unions, except over `()` instead of `Expr` ... (`Expr` is now parameterized over that functor too, so it can be ordered `[(String, a)]` or unordered `Map String a`, whatever.) I just think it conceptually works well to have the projection set represented in the

[2018-11-14 19:57] SupraSummus opened #682 "Problem parsing an expression"
I get error when trying to parse `let env = 1 in env: Integer`, which is quite close to being an env variable import. I believe that the expression is allowed by syntax described by the dhall standard.

[code]

[2018-11-14 20:09] jneira commented on #682
I think you cant put a type annotation in that place, it should be after variable name in the declaration:
[code]

[2018-11-14 20:17] f-f commented on #682
Note that the parse error comes from the `env:`, as that's the prefix for importing environment variables.
Type annotations there are allowed there but there should be a space after `env`, e.g. this works:

[code]

[2018-11-14 20:33] f-f commented on #682
Oh right sorry, I misunderstood.

Right, I agree with @SupraSummus here: the standard is correct, and this is a bug of the Haskell implementation. The example expression works fine in the Clojure implementation:

[code]

[2018-11-14 21:34] f-f commented on #682
@SupraSummus according to the grammar the above example should not even parse:

[code]

[2018-11-14 21:36] SupraSummus commented on #682
You have copied too much from my example, I think. There are two piped bash commands.

[2018-11-14 21:38] Gabriel439 commented on #682
To help focus this discussion, let's do the following:

* First decide on what the right behavior should be, regardless of what the current standard specifies and regardless of what the two implementations should do
* Then update the standard to match that behavior (if there is any difference from the current specification)
* Then update the implementations to match the standard (if there is any d

[2018-11-14 21:55] f-f commented on #682
@SupraSummus sorry I deleted my comment as I realized the mistake. This is a nice corner case.

@Gabriel439: from the examples posted so far I'm now thinking that it would probably make sense to require spaces around the `:` in annotations, as without spaces there the code is unreadable anyways

[2018-11-14 22:05] SupraSummus commented on #682
I think that requiring spaces around `:` is a good idea. It'll make parsing easier in my case. Actually I think requiring whitespace only after `:` (or only before, or "before or after") has this advantage, and also leaves more whitespace-freedom to the user.

[2018-11-14 22:11] MonoidMusician commented on #682
Hmm I wonder, would there be any issue with `$` as the prefix for environment variables? I, too, had problems parsing `env:` correctly – I actually had to add `env` as a reserved keyword (since I am trying to avoid ambiguity in my parser – the miraculous thing is it's actually possible most of the time! :smile:).

[2018-11-14 22:38] Gabriel439 commented on #682
@f-f: Sounds good! 🙂

[2018-11-15 11:23] SupraSummus opened #683 "Can't use `forall` as identifier"
I get parse error when trying to make variable named `forall`.

[code]

The expression is currently allowed by dhall standard (ABNF grammar there).

[2018-11-15 11:41] SupraSummus commented on #683
Similar problem occurs for other keywords (eg `if`, `let`, `merge`). I'm not sure if dhall-haskell should be adjusted to support those or the standard should forbid "keyword identifiers".

[2018-11-15 11:50] f-f commented on #683
The standard already "forbids" them, in the sense that the ABNF grammar doesn't exclude the possibility of parsing them, but a conjunction of the [left-to-right](https://github.com/dhall-lang/dhall-lang/blob/master/standard/dhall.abnf#L25) parsing precedence and [the reserved rule being before the label rule](https://github.com/dhall-lang/dhall-lang/blob/master/standard/dhall.abnf#L701) doesn't le

[2018-11-15 12:13] SupraSummus commented on #683
@f-f left-to-right rule applies only for valid parses. For expression `let forall = 1 in forall` there is only one valid parse allowed by grammar so the one valid parse should be selected, because it is leftmost.

I understand that left-to-right rule was intended to work inside current grammar production, without context of whole expression (which more or less reflects parsing by recursive descent

[2018-11-15 12:43] f-f commented on #683
@SupraSummus we had a comment [before I introduced the reserved words directly in the grammar](https://github.com/dhall-lang/dhall-lang/commit/9a42f33bd90abba825567111080f18d04313514a), and IMHO that's not a satisfying solution (as you have to read carefully the whole grammar to figure out that you have to add another parsing step)

Also I'll note that I'm using an always-backtracking parser, and

[2018-11-15 13:50] f-f commented on #683
You are right: I was just following up on your comment about backtracking, by saying that I don't think the backtracking is an issue.
I do generate the parser from the grammar, and the parser accepts `let forall = 1 in forall`, and it's the only parse possible currently

If we add back `forall` and all the other keywords to the `reserved-raw` rule, there would be another parsing path: `complete-ex

[2018-11-15 14:12] SupraSummus commented on #683
Oh, I see. Adding `"forall"` to `reserved-raw` will result in a proper parse of "forall" to be detected before the "forall as an identifier" one. Then this case ("forall as a reserved") can be detected and communicated as an error. That makes sense. Thanks for explaining.

[2018-11-15 18:07] Gabriel439 commented on #683
I'll throw out a weird solution: accept keywords as a valid identifiers, but prioritize parsing them as keywords over parsing them as identifiers.

Or in other words, make no changes to the standard grammar (since that is my understanding of what it already specifies) and fix the Haskell implementation to permit keywords as identifiers.

Specifically: that means that the following expression:

[co

[2018-11-16 00:30] #568 closed

[2018-11-16 05:17] Gabriel439 commented on #674
@Michael-Kateregga: If we were to fix https://github.com/dhall-lang/dhall-haskell/issues/673 then would you still need this issue to be fixed?

[2018-11-16 05:33] Michael-Kateregga commented on #674
@Gabriel439 Currently `makeHaskellType` is vital to have but I'm sure at a later stage I or someone else will need `Expr Src X -> Map k v`

[2018-11-16 16:57] f-f commented on #683
@Gabriel439 yeah I think this is the best solution, so we don't have to worry about having special handling for keywords 👍

[2018-11-16 17:58] sellout commented on #683
@Gabriel439 I don’t think this is a weird solution at all. It’s how I prefer to define things.

[2018-11-17 17:14] Gabriel439 commented on #683
So the main issue I'm running into is that I don't know a good way to support this efficiently using the current parser because it requires substantial backtracking.

Part of the problem is that I can't easily switch to a LR parser generator like `happy` because of the support for injecting custom parsers.  If I could use something like `happy` then I could probably implement this efficiently and

[2018-11-17 22:36] Reisen commented on #676
@Gabriel439 I've given this a bit more thought and I think my initial opening of this ticket was mostly just a kneejerk reaction coming from other templating languages. After having pushed this as our project choice, I've found:

- I can't abstract away the language, not really, in the end end-users will have to know about `Double/show` and various folds to do anything useful. I can't escape this,

[2018-11-17 22:36] #676 closed

[2018-11-18 03:15] Gabriel439 commented on #676
@Reisen: You're welcome! :slightly_smiling_face:

[2018-11-20 23:38] #682 closed

[2018-11-21 05:04] MonoidMusician commented on #683
My project uses an [Earley parser](https://en.wikipedia.org/wiki/Earley_parser), which is a chart parser that parses all possible parses, returning them all when there is ambiguity. Which is nice to see. The only problem is that the parses are returned in no particular order, so I have to disambiguate them based on the AST results. I've been working on that today, and I have made some progress. It

[2018-11-21 09:54] jneira opened #692 "The new union access is not transitive across record field"
This dhall definition works as intended:
[code]
However, puting the union in a record field doesnt work (at least as i expected):
[code]
It throws:
[code]

[2018-11-21 10:42] jneira commented on #692
Well. it seems this was already discussed in the [pr](https://github.com/dhall-lang/dhall-lang/issues/244#issuecomment-433507171). So, would be an alternative to `dhall-to-cabal` usage of records of unions taking in account that `constructors` would not work when it is equal to id?

[2018-11-21 11:17] jneira commented on #692
Adding a let with the record field makes it work too:
[code]
I feel that behaviour it is not very intuitive :thinking:

[2018-11-21 11:17] Profpatsch commented on #683
Probably best to stay with “tried and tested” and disallow keywords. This makes implementations with existing parser frameworks easier for dhall implementations in different languages/contexts.

[2018-11-21 19:08] Gabriel439 commented on #692
@jneira: The standard permits what you are trying to do.  This is just a bug in the Haskell implementation since it is not complying with the standard.  I believe I can fix this pretty easily before cutting the next release.

[2018-11-21 19:31] Gabriel439 commented on #692
Fix is up here: https://github.com/dhall-lang/dhall-haskell/pull/694

I will merge that before cutting the release tonight if nobody objects

[2018-11-21 20:43] Gabriel439 commented on #683
Yeah, I think this is the most compelling reason to disallow keywords as identifiers:

The main issue we have is that we need a way to standardize in the grammar that those keywords are disallowed for identifiers.  The only solution I'm aware of is to mention that in a comment (like we used to do at one point), but if people know of a better solution just let me know.

[2018-11-22 04:11] Gabriel439 commented on #665
I believe this will be fixed once https://github.com/commercialhaskell/stackage/pull/4165 is merged, since `dhall-bash` now supports the latest version of `containers` and GHC 8.6 in general.  It appears that `dhall`/`dhall-json`/`dhall-text` were already added back

[2018-11-22 09:41] ocharles commented on #692
Yep, that's correct - you can no longer have mixed records.

On Thu, 22 Nov 2018, 7:24 am Javier Neira <notifications@github.com wrote:

[2018-11-22 15:52] Gabriel439 commented on #692
Actually, it's disallowed for a different reason.  To explain why, I'll need to specify some terminology:

* "`x` is a type" (with a lower-case "t") means that the type of the type of `x` is `Kind`
* "`x` is a kind" (with a lower-case "k") means that the type of the type of `x` is `Sort`
* "`x` is a `Type`" (with an upper-case "T") means that the type of `x` is `Type`
* "`x` is a `Kind`" (with an

[2018-11-23 07:12] jneira commented on #692
Great explanation, as always. I feel that nesting records should be allowed in *general* (seems to me that it is more uniform) but i know that it is more important make sound the type system

[2018-11-23 10:44] haitlahcen opened #697 "Record of records of Types"
I have a question about record of records of types.

Since `1.18.0`, I was able to use:
[code]

Now dhall throws an `invalid field` exception.

This was a very useful feature to export modules types (bubble up the types from the base module to the top level) through a single record... !